In [1]:
import pandas as pd

In [2]:
from datetime import datetime

In [3]:
now =datetime.now()

In [4]:
now

datetime.datetime(2019, 3, 14, 14, 4, 1, 860491)

In [5]:
now.year,now.month,now.day

(2019, 3, 14)

In [6]:
delta = datetime(2011,1,7) - datetime(2008,6,24,8,15)

In [7]:
delta

datetime.timedelta(926, 56700)

In [8]:
delta.days

926

In [9]:
delta.seconds

56700

In [14]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [15]:
 stamp = datetime(2011, 1, 3)
str(stamp)
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [16]:
from dateutil.parser import parse

In [17]:
parse('20190101')

datetime.datetime(2019, 1, 1, 0, 0)

In [18]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [19]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [20]:
idx = pd.to_datetime(datestrs+[None])

In [21]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [23]:
pd.isnull(idx)

array([False, False,  True])

In [24]:
In [40]: dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
....: datetime(2011, 1, 7), datetime(2011, 1, 8),
....: datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [25]:
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [26]:
import numpy as np

In [27]:
ts = pd.Series(np.random.randn(6),index=dates)

In [28]:
ts

2011-01-02    0.681288
2011-01-05   -0.165217
2011-01-07   -0.957556
2011-01-08    0.784220
2011-01-10   -0.457118
2011-01-12    1.050169
dtype: float64

In [29]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [30]:
ts + ts[::2]

2011-01-02    1.362577
2011-01-05         NaN
2011-01-07   -1.915111
2011-01-08         NaN
2011-01-10   -0.914236
2011-01-12         NaN
dtype: float64

In [31]:
ts.index.dtype

dtype('<M8[ns]')

In [32]:
stamp

datetime.datetime(2011, 1, 3, 0, 0)

In [33]:
stamp = ts.index[0]

In [34]:
stamp

Timestamp('2011-01-02 00:00:00')

In [35]:
stamp = ts.index[2]

In [36]:
ts[stamp]

-0.9575555332200606

In [37]:
ts['1/10/2011']

-0.45711824833705145

In [38]:
ts['20110110']

-0.45711824833705145

In [39]:
longer_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))

In [40]:
longer_ts

2000-01-01    0.370465
2000-01-02   -0.211894
2000-01-03    1.116579
2000-01-04   -0.805416
2000-01-05   -0.366180
2000-01-06   -1.289693
2000-01-07   -0.304911
2000-01-08   -1.040820
2000-01-09    0.480737
2000-01-10    0.256831
2000-01-11    0.178662
2000-01-12   -0.524270
2000-01-13    1.531840
2000-01-14    0.423584
2000-01-15   -0.669938
2000-01-16    0.320278
2000-01-17    1.302130
2000-01-18    0.507153
2000-01-19   -0.175682
2000-01-20    0.584863
2000-01-21   -0.453007
2000-01-22   -0.747393
2000-01-23   -0.052483
2000-01-24   -0.767908
2000-01-25    1.659045
2000-01-26    1.833269
2000-01-27   -1.644784
2000-01-28   -0.043488
2000-01-29    1.363986
2000-01-30    0.188136
                ...
2002-08-28    1.658070
2002-08-29    0.638636
2002-08-30    1.624465
2002-08-31    1.209776
2002-09-01   -0.135161
2002-09-02   -0.597779
2002-09-03    0.019553
2002-09-04   -0.332608
2002-09-05    0.040004
2002-09-06    0.155105
2002-09-07    1.015412
2002-09-08   -1.925532
2002-09-09    0.793429
2002-09-10    0.058768
2002-09-11    1.700392
2002-09-12    0.217572
2002-09-13    1.208645
2002-09-14   -2.242904
2002-09-15   -1.123203
2002-09-16   -0.216792
2002-09-17    0.286307
2002-09-18    0.143900
2002-09-19    0.456226
2002-09-20    0.417271
2002-09-21    1.642259
2002-09-22    0.481497
2002-09-23   -0.414551
2002-09-24   -1.062455
2002-09-25   -0.499623
2002-09-26   -0.483035
Freq: D, Length: 1000, dtype: float64

In [41]:
longer_ts['2001']

2001-01-01   -1.616244
2001-01-02    0.412709
2001-01-03   -0.634971
2001-01-04   -0.484282
2001-01-05   -1.072847
2001-01-06    0.125091
2001-01-07    0.712807
2001-01-08   -0.641078
2001-01-09    0.391379
2001-01-10   -0.758304
2001-01-11    0.738941
2001-01-12   -1.096013
2001-01-13    0.557379
2001-01-14    2.430484
2001-01-15    0.273479
2001-01-16   -0.254533
2001-01-17    1.079506
2001-01-18   -0.032930
2001-01-19    0.463009
2001-01-20    0.521538
2001-01-21   -0.141941
2001-01-22   -0.234875
2001-01-23   -0.078679
2001-01-24    0.638170
2001-01-25   -0.148860
2001-01-26    0.933765
2001-01-27    0.575641
2001-01-28   -0.220390
2001-01-29    1.531844
2001-01-30   -0.542322
                ...
2001-12-02    0.634785
2001-12-03   -0.339801
2001-12-04    0.354758
2001-12-05    0.397232
2001-12-06   -0.264906
2001-12-07    1.652259
2001-12-08   -0.570997
2001-12-09    1.557349
2001-12-10    0.789005
2001-12-11   -0.606476
2001-12-12   -0.346326
2001-12-13   -1.409638
2001-12-14    1.220955
2001-12-15    0.793714
2001-12-16   -1.133982
2001-12-17    2.264773
2001-12-18    0.255815
2001-12-19   -0.427557
2001-12-20   -0.178940
2001-12-21    0.810051
2001-12-22   -2.214535
2001-12-23   -0.963701
2001-12-24   -0.379618
2001-12-25   -0.459716
2001-12-26    0.102533
2001-12-27    2.056274
2001-12-28    1.153355
2001-12-29    1.208807
2001-12-30   -1.908606
2001-12-31   -1.072719
Freq: D, Length: 365, dtype: float64

In [43]:
longer_ts['2001-05']

2001-05-01   -0.628948
2001-05-02   -2.195368
2001-05-03   -0.283049
2001-05-04   -0.685106
2001-05-05   -0.217960
2001-05-06   -0.590141
2001-05-07   -0.765482
2001-05-08    1.364989
2001-05-09   -0.531024
2001-05-10    0.656245
2001-05-11   -0.511397
2001-05-12    1.334960
2001-05-13   -0.326905
2001-05-14   -0.179222
2001-05-15    1.683841
2001-05-16   -1.364764
2001-05-17    0.188113
2001-05-18    1.647162
2001-05-19   -0.872891
2001-05-20   -0.244634
2001-05-21    0.226765
2001-05-22   -0.819539
2001-05-23   -1.876456
2001-05-24    1.087800
2001-05-25   -0.472338
2001-05-26    1.300364
2001-05-27    0.362692
2001-05-28   -0.692772
2001-05-29    0.471491
2001-05-30   -0.059823
2001-05-31    0.127446
Freq: D, dtype: float64

In [44]:
ts

2011-01-02    0.681288
2011-01-05   -0.165217
2011-01-07   -0.957556
2011-01-08    0.784220
2011-01-10   -0.457118
2011-01-12    1.050169
dtype: float64

In [45]:
ts[datetime(2011,1,7):]

2011-01-07   -0.957556
2011-01-08    0.784220
2011-01-10   -0.457118
2011-01-12    1.050169
dtype: float64

In [46]:
ts

2011-01-02    0.681288
2011-01-05   -0.165217
2011-01-07   -0.957556
2011-01-08    0.784220
2011-01-10   -0.457118
2011-01-12    1.050169
dtype: float64

In [49]:
ts['2011-1-6':'2011-1-11']

2011-01-07   -0.957556
2011-01-08    0.784220
2011-01-10   -0.457118
dtype: float64

In [50]:
ts.truncate(after='2011-1-9')

2011-01-02    0.681288
2011-01-05   -0.165217
2011-01-07   -0.957556
2011-01-08    0.784220
dtype: float64

In [51]:
dates = pd.date_range('2000-1-1',periods=100,freq='W-WED')

In [52]:
In [61]: long_df = pd.DataFrame(np.random.randn(100, 4),
....: index=dates,
....: columns=['Colorado', 'Texas',
....: 'New York', 'Ohio'])

In [53]:
long_df

            Colorado     Texas  New York      Ohio
2000-01-05  0.178709 -0.436959  0.027527 -0.111819
2000-01-12 -0.462057  0.312247 -0.750338 -1.281810
2000-01-19 -0.604611 -0.542479 -0.129404  0.039914
2000-01-26  1.008442 -0.400774 -0.553412 -2.735263
2000-02-02 -1.069274 -1.173618 -0.098873 -0.885242
2000-02-09  0.391516  0.792966 -0.938487 -0.656885
2000-02-16 -0.809133  1.415891 -0.572519 -0.783915
2000-02-23  0.114427  1.798014 -0.412250  0.087347
2000-03-01 -0.070397  0.212633 -2.783785 -2.201481
2000-03-08 -0.935894  0.631474  0.754077  0.424486
2000-03-15 -0.105064  0.641382 -0.868503  0.779417
2000-03-22 -0.634459 -1.756969 -0.687005  0.437763
2000-03-29  1.190979  0.444920  0.309566  0.438933
2000-04-05 -1.038103 -0.752969  0.333955  0.244031
2000-04-12  0.179222  0.055535  0.044080  0.662187
2000-04-19 -0.027065  0.307245 -0.687913 -0.816030
2000-04-26 -1.010621 -0.439418 -0.527900 -0.124568
2000-05-03 -0.005107 -0.921331 -0.723061 -0.657513
2000-05-10  0.253044 -0.297883 -1.228556  1.034926
2000-05-17 -0.220635  1.077651 -1.213702 -0.510470
2000-05-24  1.100897 -0.452336 -0.233467 -1.869192
2000-05-31 -0.277268 -0.057953 -0.759444  0.818167
2000-06-07  0.475633 -0.732816  1.119707  0.193133
2000-06-14 -0.869862  1.186251  0.212487  0.195008
2000-06-21  0.317783 -0.017249  1.223899  1.361316
2000-06-28  0.732364  1.324168  0.795609  1.631651
2000-07-05  0.222659 -1.059228  1.176284  0.050623
2000-07-12 -1.350825 -0.274572 -0.136214 -1.176130
2000-07-19 -1.151187  1.335977 -0.632959  0.490485
2000-07-26 -0.478664  2.045493  0.676500  0.755083
...              ...       ...       ...       ...
2001-05-09  2.087661  0.838168 -1.032758  1.381013
2001-05-16  0.131040 -0.319778 -0.356118  1.014937
2001-05-23  0.028494 -0.172221 -0.286868 -0.955953
2001-05-30  0.080708 -0.014325  0.205696  0.271768
2001-06-06 -0.388583 -0.078323  1.422937  0.668571
2001-06-13 -0.308196  0.499656 -0.761650  0.510194
2001-06-20 -2.153853 -0.818067  0.018171  0.230707
2001-06-27  1.305062  0.605385  2.039945 -0.301618
2001-07-04  1.174659  0.658210  0.957964  1.134769
2001-07-11  2.075000 -0.533632  1.311475 -2.512404
2001-07-18  1.225554  2.237374  1.314310 -0.031749
2001-07-25 -0.065393  0.458851 -0.134822 -0.024065
2001-08-01 -0.330372 -0.527695  0.171576 -0.603213
2001-08-08 -0.063478 -1.110728 -0.170301 -0.453535
2001-08-15  1.257497  0.051441 -1.382604  0.057552
2001-08-22 -0.857474  0.239763 -1.456006 -0.348897
2001-08-29 -0.975273  0.240839 -0.374157  0.630248
2001-09-05  1.314031 -0.304986  0.592712 -0.011336
2001-09-12 -0.712210 -0.895643  0.417414 -0.141807
2001-09-19  1.956841 -0.571378 -0.197549 -0.876434
2001-09-26 -0.387675 -1.124718  0.927533 -0.593196
2001-10-03  0.860229  0.686119  0.425893  0.676995
2001-10-10 -1.555149  1.810324  0.064162  0.517637
2001-10-17  2.095808  0.019846  0.141738 -0.169717
2001-10-24  0.944619 -0.119756  0.654905  1.089404
2001-10-31  0.298400  1.418505  0.257235  1.133497
2001-11-07 -0.241146  1.637815  0.451498  0.239312
2001-11-14  0.787298 -0.273724  0.454311  0.028949
2001-11-21  0.336347 -0.591069  1.038792 -0.093430
2001-11-28  1.718558 -1.643689  0.878343 -1.513094

[100 rows x 4 columns]

In [54]:
long_df.loc['2001-5']

            Colorado     Texas  New York      Ohio
2001-05-02  1.013786 -0.991754 -0.226285 -0.651339
2001-05-09  2.087661  0.838168 -1.032758  1.381013
2001-05-16  0.131040 -0.319778 -0.356118  1.014937
2001-05-23  0.028494 -0.172221 -0.286868 -0.955953
2001-05-30  0.080708 -0.014325  0.205696  0.271768

In [55]:
In [63]: dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000',
'1/2/2000',
....: '1/2/2000', '1/3/2000'])
In [64]: dup_ts = pd.Series(np.arange(5), index=dates)

In [56]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [57]:
dup_ts.index.is_unique

False

In [58]:
dup_ts['2000-1-1']

0

In [59]:
dup_ts['2000-1-2']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [60]:
grounped = dup_ts.groupby(level=0)

In [61]:
grounped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [62]:
grounped.sum()

2000-01-01    0
2000-01-02    6
2000-01-03    4
dtype: int32

In [65]:
grounped.sum()

2000-01-01    0
2000-01-02    6
2000-01-03    4
dtype: int32

In [66]:
ts

2011-01-02    0.681288
2011-01-05   -0.165217
2011-01-07   -0.957556
2011-01-08    0.784220
2011-01-10   -0.457118
2011-01-12    1.050169
dtype: float64

In [67]:
resampler = ts.resample('D')

In [68]:
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [70]:
index = pd.date_range('2012-4-1','2012-6-1')

In [71]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [72]:
pd.date_range(start='2012-4-1',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [73]:
pd.date_range('2000-1-1','2000-12-1',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [74]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [76]:
pd.date_range('2012-5-2 12:56:01',periods=5,normalize=True,freq='H')

DatetimeIndex(['2012-05-02 00:00:00', '2012-05-02 01:00:00',
               '2012-05-02 02:00:00', '2012-05-02 03:00:00',
               '2012-05-02 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [77]:
from pandas.tseries.offsets import Hour,Minute

In [78]:
h = Hour()

In [79]:
h

In [80]:
h4 = Hour(4)

In [81]:
h4

In [84]:
pd.date_range('2000-1-1','2000-1-3 23:59',freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [85]:
Hour(2)+Minute(30)

In [86]:
pd.date_range('2000-1-1',periods=10,freq='2h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 02:30:00',
               '2000-01-01 05:00:00', '2000-01-01 07:30:00',
               '2000-01-01 10:00:00', '2000-01-01 12:30:00',
               '2000-01-01 15:00:00', '2000-01-01 17:30:00',
               '2000-01-01 20:00:00', '2000-01-01 22:30:00'],
              dtype='datetime64[ns]', freq='150T')

In [88]:
rng = pd.date_range('2012-1-1','2012-9-1',freq='WOM-3FRI')

In [90]:
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [91]:
In [91]: ts = pd.Series(np.random.randn(4),
....: index=pd.date_range('1/1/2000', periods=4,
freq='M'))

In [92]:
ts

2000-01-31    1.056532
2000-02-29    0.023227
2000-03-31    1.205217
2000-04-30   -0.338408
Freq: M, dtype: float64

In [93]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    1.056532
2000-04-30    0.023227
Freq: M, dtype: float64

In [94]:
ts.shift(-2)

2000-01-31    1.205217
2000-02-29   -0.338408
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [95]:
s = pd.Series(range(10))

In [98]:
s - s.shift(1)

0    NaN
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
dtype: float64

In [99]:
ts/ts.shift(1) - 1

2000-01-31          NaN
2000-02-29    -0.978016
2000-03-31    50.888769
2000-04-30    -1.280786
Freq: M, dtype: float64

In [100]:
ts.shift(2,freq='M')

2000-03-31    1.056532
2000-04-30    0.023227
2000-05-31    1.205217
2000-06-30   -0.338408
Freq: M, dtype: float64

In [101]:
ts.shift(-3,freq='D')

2000-01-28    1.056532
2000-02-26    0.023227
2000-03-28    1.205217
2000-04-27   -0.338408
dtype: float64

In [102]:
from pandas .tseries.offsets import Day,MonthEnd

In [103]:
now = datetime.now()

In [104]:
now + Day(3)

Timestamp('2019-03-17 14:50:53.635484')

In [105]:
now + MonthEnd()

Timestamp('2019-03-31 14:50:53.635484')

In [106]:
now + 2*MonthEnd()

Timestamp('2019-04-30 14:50:53.635484')

In [107]:
offset = MonthEnd()

In [108]:
offset.rollforward(now)

Timestamp('2019-03-31 14:50:53.635484')

In [109]:
offset.rollback(now)

Timestamp('2019-02-28 14:50:53.635484')

In [110]:
In [106]: ts = pd.Series(np.random.randn(20),
.....: index=pd.date_range('1/15/2000', periods=20,
freq='4d'))

In [111]:
ts

2000-01-15    0.566011
2000-01-19    0.100841
2000-01-23   -0.754286
2000-01-27   -0.957337
2000-01-31    0.750691
2000-02-04    1.038656
2000-02-08    1.425730
2000-02-12    0.449359
2000-02-16   -0.967023
2000-02-20    2.180013
2000-02-24   -0.019441
2000-02-28   -0.049138
2000-03-03   -1.047417
2000-03-07   -0.629100
2000-03-11    0.606994
2000-03-15   -0.140015
2000-03-19   -0.483144
2000-03-23   -0.249915
2000-03-27   -1.117687
2000-03-31    2.237080
Freq: 4D, dtype: float64

In [113]:
offset

In [114]:
ts.groupby(offset.rollback).mean()

1999-12-31   -0.261193
2000-01-31    0.601106
2000-02-29   -0.437184
2000-03-31    2.237080
dtype: float64

In [115]:
ts.resample('M').mean()

2000-01-31   -0.058816
2000-02-29    0.579737
2000-03-31   -0.102901
Freq: M, dtype: float64

In [116]:
import pytz

In [118]:
pytz.common_timezones

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Costa_Rica',
 'America/Creston',
 'America/Cuiaba',
 'America/Curacao',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Dominica',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Fort_Nelson',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Godthab',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/Kralendijk',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Lower_Princes',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Marigot',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/Nipigon',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Ojinaga',
 'America/Panama',
 'America/Pangnirtung',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Port_of_Spain',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Punta_Arenas',
 'America/Rainy_River',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Sitka',
 'America/St_Barthelemy',
 'America/St_Johns',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Thunder_Bay',
 'America/Tijuana',
 'America/Toronto',
 'America/Tortola',
 'America/Vancouver',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'America/Yellowknife',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/DumontDUrville',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/McMurdo',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/Syowa',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Colombo',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kathmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qyzylorda',
 'Asia/Riyadh',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ulaanbaatar',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vientiane',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faroe',
 'Atlantic/Madeira',
 'Atlantic/Reykjavik',
 'Atlantic/South_Georgia',
 'Atlantic/St_Helena',
 'Atlantic/Stanley',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Currie',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/Perth',
 'Australia/Sydney',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Europe/Amsterdam',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Bratislava',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Busingen',
 'Europe/Chisinau',
 'Europe/Copenhagen',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Guernsey',
 'Europe/Helsinki',
 'Europe/Isle_of_Man',
 'Europe/Istanbul',
 'Europe/Jersey',
 'Europe/Kaliningrad',
 'Europe/Kiev',
 'Europe/Kirov',
 'Europe/Lisbon',
 'Europe/Ljubljana',
 'Europe/London',
 'Europe/Luxembourg',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Mariehamn',
 'Europe/Minsk',
 'Europe/Monaco',
 'Europe/Moscow',
 'Europe/Oslo',
 'Europe/Paris',
 'Europe/Podgorica',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Skopje',
 'Europe/Sofia',
 'Europe/Stockholm',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Ulyanovsk',
 'Europe/Uzhgorod',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zagreb',
 'Europe/Zaporozhye',
 'Europe/Zurich',
 'GMT',
 'Indian/Antananarivo',
 'Indian/Chagos',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Chuuk',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Enderbury',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Funafuti',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Majuro',
 'Pacific/Marquesas',
 'Pacific/Midway',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Pohnpei',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Saipan',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'Pacific/Wake',
 'Pacific/Wallis',
 'US/Alaska',
 'US/Arizona',
 'US/Central',
 'US/Eastern',
 'US/Hawaii',
 'US/Mountain',
 'US/Pacific',
 'UTC']

In [119]:
tz = pytz.timezone('Asia/Shanghai')

In [120]:
tz

In [121]:
In [114]: rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
In [115]: ts = pd.Series(np.random.randn(len(rng)), index=rng)
In [116]: ts

2012-03-09 09:30:00   -0.333308
2012-03-10 09:30:00   -0.833606
2012-03-11 09:30:00    0.113813
2012-03-12 09:30:00    0.113575
2012-03-13 09:30:00   -0.366373
2012-03-14 09:30:00   -1.518365
Freq: D, dtype: float64

In [122]:
print(ts.index.tz)

None

In [123]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D',
tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [124]:
ts

2012-03-09 09:30:00   -0.333308
2012-03-10 09:30:00   -0.833606
2012-03-11 09:30:00    0.113813
2012-03-12 09:30:00    0.113575
2012-03-13 09:30:00   -0.366373
2012-03-14 09:30:00   -1.518365
Freq: D, dtype: float64

In [125]:
ts_utc = ts.tz_localize('UTC')

In [126]:
ts_utc

2012-03-09 09:30:00+00:00   -0.333308
2012-03-10 09:30:00+00:00   -0.833606
2012-03-11 09:30:00+00:00    0.113813
2012-03-12 09:30:00+00:00    0.113575
2012-03-13 09:30:00+00:00   -0.366373
2012-03-14 09:30:00+00:00   -1.518365
Freq: D, dtype: float64

In [127]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [129]:
ts_utc.tz_convert('Asia/Shanghai')

2012-03-09 17:30:00+08:00   -0.333308
2012-03-10 17:30:00+08:00   -0.833606
2012-03-11 17:30:00+08:00    0.113813
2012-03-12 17:30:00+08:00    0.113575
2012-03-13 17:30:00+08:00   -0.366373
2012-03-14 17:30:00+08:00   -1.518365
Freq: D, dtype: float64

In [131]:
In [124]: ts_eastern = ts.tz_localize('America/New_York')

In [132]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.333308
2012-03-10 14:30:00+00:00   -0.833606
2012-03-11 13:30:00+00:00    0.113813
2012-03-12 13:30:00+00:00    0.113575
2012-03-13 13:30:00+00:00   -0.366373
2012-03-14 13:30:00+00:00   -1.518365
Freq: D, dtype: float64

In [134]:
ts_eastern.tz_convert('Asia/Shanghai')

2012-03-09 22:30:00+08:00   -0.333308
2012-03-10 22:30:00+08:00   -0.833606
2012-03-11 21:30:00+08:00    0.113813
2012-03-12 21:30:00+08:00    0.113575
2012-03-13 21:30:00+08:00   -0.366373
2012-03-14 21:30:00+08:00   -1.518365
Freq: D, dtype: float64

In [135]:
stamp = pd.Timestamp('2011-3-12 4:00')

In [137]:
stamp_utc = stamp.tz_localize('utc')

In [138]:
stamp_utc.tz_convert('Asia/Shanghai')

Timestamp('2011-03-12 12:00:00+0800', tz='Asia/Shanghai')

In [139]:
stamp_moscow = pd.Timestamp('2011-3-12 4:00',tz='Asia/Shanghai')

In [140]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0800', tz='Asia/Shanghai')

In [141]:
stamp_utc.value

1299902400000000000

In [153]:
from pandas.tseries.offsets import Hour
stamp = pd.Timestamp('2013-03-11 09:30', tz='US/Eastern')
stamp

Timestamp('2013-03-11 09:30:00-0400', tz='US/Eastern')

In [154]:
stamp + Hour(3)

Timestamp('2013-03-11 12:30:00-0400', tz='US/Eastern')

In [144]:
In [139]: stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
In [140]: stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [145]:
stamp + 2*Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

In [155]:
In [142]: rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
In [143]: ts = pd.Series(np.random.randn(len(rng)), index=rng)
In [144]: ts

2012-03-07 09:30:00   -0.259024
2012-03-08 09:30:00    1.246461
2012-03-09 09:30:00    0.149440
2012-03-12 09:30:00   -0.352030
2012-03-13 09:30:00   -0.052141
2012-03-14 09:30:00   -0.603305
2012-03-15 09:30:00   -1.182910
2012-03-16 09:30:00    0.002142
2012-03-19 09:30:00    0.148180
2012-03-20 09:30:00    0.410001
Freq: B, dtype: float64

In [156]:
In [145]: ts1 = ts[:7].tz_localize('Europe/London')
In [146]: ts2 = ts1[2:].tz_convert('Europe/Moscow')

In [157]:
ts1 + ts2

2012-03-07 09:30:00+00:00         NaN
2012-03-08 09:30:00+00:00         NaN
2012-03-09 09:30:00+00:00    0.298881
2012-03-12 09:30:00+00:00   -0.704061
2012-03-13 09:30:00+00:00   -0.104282
2012-03-14 09:30:00+00:00   -1.206611
2012-03-15 09:30:00+00:00   -2.365820
Freq: B, dtype: float64

In [158]:
p = pd.Period(2007,freq='A-DEC')

In [159]:
p

Period('2007', 'A-DEC')

In [160]:
p+5

Period('2012', 'A-DEC')

In [161]:
p-2

Period('2005', 'A-DEC')

In [162]:
pd.Period('2014', freq='A-DEC') - p

7

In [165]:
rng = pd.period_range('2000-1-1','2000-6-30',freq='M')

In [166]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [167]:
pd.Series(np.random.randn(6), index=rng)

2000-01    0.656115
2000-02    0.988989
2000-03    0.420790
2000-04   -0.089476
2000-05    0.281353
2000-06    1.622188
Freq: M, dtype: float64

In [168]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [169]:
index = pd.PeriodIndex(values,freq='Q-DEC')

In [170]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [171]:
p = pd.Period('2007',freq='A-DEC')

In [172]:
p

Period('2007', 'A-DEC')

In [173]:
p.asfreq('M',how='start')

Period('2007-01', 'M')

In [175]:
p.asfreq('D',how='end')

Period('2007-12-31', 'D')

In [176]:
p = pd.Period('2007', freq='A-JUN')

In [177]:
p

Period('2007', 'A-JUN')

In [178]:
p.asfreq('M','start')

Period('2006-07', 'M')

In [179]:
p.asfreq('M','end')

Period('2007-06', 'M')

In [180]:
p = pd.Period('2007-7','M')

In [188]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [189]:
rng = pd.period_range('2006', '2009', freq='A-DEC')

In [190]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [191]:
rng

PeriodIndex(['2006', '2007', '2008', '2009'], dtype='period[A-DEC]', freq='A-DEC')

In [192]:
ts

2006   -0.904183
2007   -0.474789
2008    1.070779
2009    0.284888
Freq: A-DEC, dtype: float64

In [193]:
ts.asfreq('M',how='start')

2006-01   -0.904183
2007-01   -0.474789
2008-01    1.070779
2009-01    0.284888
Freq: M, dtype: float64

In [194]:
ts.asfreq('B',how='END')

2006-12-29   -0.904183
2007-12-31   -0.474789
2008-12-31    1.070779
2009-12-31    0.284888
Freq: B, dtype: float64

In [195]:
p = pd.Period('2013Q4',freq='Q-JAN')

In [196]:
p

Period('2013Q4', 'Q-JAN')

In [197]:
p.asfreq('D','start')

Period('2012-11-01', 'D')

In [198]:
p.asfreq('D','end')

Period('2013-01-31', 'D')

In [203]:
((p.asfreq('d','e') - 1).asfreq('T','s') + 16*60).to_timestamp()

Timestamp('2013-01-30 16:00:00')

In [204]:
 rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')

In [205]:
rng

PeriodIndex(['2011Q3', '2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4'], dtype='period[Q-JAN]', freq='Q-JAN')

In [207]:
 ts = pd.Series(np.arange(len(rng)), index=rng)
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [209]:
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16* 60

In [210]:
ts.index = new_rng.to_timestamp()

In [211]:
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int32

In [212]:
In [188]: rng = pd.date_range('2000-01-01', periods=3, freq='M')
In [189]: ts = pd.Series(np.random.randn(3), index=rng)
In [190]: ts

2000-01-31    0.083488
2000-02-29    0.052317
2000-03-31   -0.209663
Freq: M, dtype: float64

In [213]:
pts = ts.to_period()

In [215]:
pts

2000-01    0.083488
2000-02    0.052317
2000-03   -0.209663
Freq: M, dtype: float64

In [216]:
In [193]: rng = pd.date_range('1/29/2000', periods=6, freq='D')
In [194]: ts2 = pd.Series(np.random.randn(6), index=rng)
In [195]: ts2

2000-01-29   -0.397315
2000-01-30   -0.310497
2000-01-31   -0.436449
2000-02-01    0.599124
2000-02-02    0.269980
2000-02-03   -0.452068
Freq: D, dtype: float64

In [217]:
ts2.to_period('M')

2000-01   -0.397315
2000-01   -0.310497
2000-01   -0.436449
2000-02    0.599124
2000-02    0.269980
2000-02   -0.452068
Freq: M, dtype: float64

In [219]:
ts2.to_period('M').to_timestamp()

2000-01-01   -0.397315
2000-01-01   -0.310497
2000-01-01   -0.436449
2000-02-01    0.599124
2000-02-01    0.269980
2000-02-01   -0.452068
dtype: float64

In [220]:
In [200]: data = pd.read_csv('examples/macrodata.csv')
In [201]: data.head(5)

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [221]:
data.year

0      1959.0
1      1959.0
2      1959.0
3      1959.0
4      1960.0
5      1960.0
6      1960.0
7      1960.0
8      1961.0
9      1961.0
10     1961.0
11     1961.0
12     1962.0
13     1962.0
14     1962.0
15     1962.0
16     1963.0
17     1963.0
18     1963.0
19     1963.0
20     1964.0
21     1964.0
22     1964.0
23     1964.0
24     1965.0
25     1965.0
26     1965.0
27     1965.0
28     1966.0
29     1966.0
        ...
173    2002.0
174    2002.0
175    2002.0
176    2003.0
177    2003.0
178    2003.0
179    2003.0
180    2004.0
181    2004.0
182    2004.0
183    2004.0
184    2005.0
185    2005.0
186    2005.0
187    2005.0
188    2006.0
189    2006.0
190    2006.0
191    2006.0
192    2007.0
193    2007.0
194    2007.0
195    2007.0
196    2008.0
197    2008.0
198    2008.0
199    2008.0
200    2009.0
201    2009.0
202    2009.0
Name: year, Length: 203, dtype: float64

In [222]:
data.quarter

0      1.0
1      2.0
2      3.0
3      4.0
4      1.0
5      2.0
6      3.0
7      4.0
8      1.0
9      2.0
10     3.0
11     4.0
12     1.0
13     2.0
14     3.0
15     4.0
16     1.0
17     2.0
18     3.0
19     4.0
20     1.0
21     2.0
22     3.0
23     4.0
24     1.0
25     2.0
26     3.0
27     4.0
28     1.0
29     2.0
      ...
173    2.0
174    3.0
175    4.0
176    1.0
177    2.0
178    3.0
179    4.0
180    1.0
181    2.0
182    3.0
183    4.0
184    1.0
185    2.0
186    3.0
187    4.0
188    1.0
189    2.0
190    3.0
191    4.0
192    1.0
193    2.0
194    3.0
195    4.0
196    1.0
197    2.0
198    3.0
199    4.0
200    1.0
201    2.0
202    3.0
Name: quarter, Length: 203, dtype: float64

In [225]:
index = pd.PeriodIndex(year=data.year,quarter=data.quarter,freq='Q-DEC')

In [226]:
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [227]:
data.index = index

In [228]:
data

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
1959Q1,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.980,139.7,2.82,5.8,177.146,0.00,0.00
1959Q2,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.150,141.7,3.08,5.1,177.830,2.34,0.74
1959Q3,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.350,140.5,3.82,5.3,178.657,2.74,1.09
1959Q4,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.370,140.0,4.33,5.6,179.386,0.27,4.06
1960Q1,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.540,139.6,3.50,5.2,180.007,2.31,1.19
1960Q2,1960.0,2.0,2834.390,1792.9,298.152,460.400,1966.1,29.550,140.2,2.68,5.2,180.671,0.14,2.55
1960Q3,1960.0,3.0,2839.022,1785.8,296.375,474.676,1967.8,29.750,140.9,2.36,5.6,181.528,2.70,-0.34
1960Q4,1960.0,4.0,2802.616,1788.2,259.764,476.434,1966.6,29.840,141.1,2.29,6.3,182.287,1.21,1.08
1961Q1,1961.0,1.0,2819.264,1787.7,266.405,475.854,1984.5,29.810,142.1,2.37,6.8,182.992,-0.40,2.77
1961Q2,1961.0,2.0,2872.005,1814.3,286.246,480.328,2014.4,29.920,142.9,2.29,7.0,183.691,1.47,0.81
1961Q3,1961.0,3.0,2918.419,1823.1,310.227,493.828,2041.9,29.980,144.1,2.32,6.8,184.524,0.80,1.52
1961Q4,1961.0,4.0,2977.830,1859.6,315.463,502.521,2082.0,30.040,145.2,2.60,6.2,185.242,0.80,1.80
1962Q1,1962.0,1.0,3031.241,1879.4,334.271,520.960,2101.7,30.210,146.4,2.73,5.6,185.874,2.26,0.47
1962Q2,1962.0,2.0,3064.709,1902.5,331.039,523.066,2125.2,30.220,146.5,2.78,5.5,186.538,0.13,2.65
1962Q3,1962.0,3.0,3093.047,1917.9,336.962,538.838,2137.0,30.380,146.7,2.78,5.6,187.323,2.11,0.67
1962Q4,1962.0,4.0,3100.563,1945.1,325.650,535.912,2154.6,30.440,148.3,2.87,5.5,188.013,0.79,2.08
1963Q1,1963.0,1.0,3141.087,1958.2,343.721,522.917,2172.5,30.480,149.7,2.90,5.8,188.580,0.53,2.38
1963Q2,1963.0,2.0,3180.447,1976.9,348.730,518.108,2193.1,30.690,151.3,3.03,5.7,189.242,2.75,0.29
1963Q3,1963.0,3.0,3240.332,2003.8,360.102,546.893,2217.9,30.750,152.6,3.38,5.5,190.028,0.78,2.60
1963Q4,1963.0,4.0,3264.967,2020.6,364.534,532.383,2254.6,30.940,153.7,3.52,5.6,190.668,2.46,1.06
1964Q1,1964.0,1.0,3338.246,2060.5,379.523,529.686,2299.6,30.950,154.8,3.51,5.5,191.245,0.13,3.38
1964Q2,1964.0,2.0,3376.587,2096.7,377.778,526.175,2362.1,31.020,156.8,3.47,5.2,191.889,0.90,2.57
1964Q3,1964.0,3.0,3422.469,2135.2,386.754,522.008,2392.7,31.120,159.2,3.53,5.0,192.631,1.29,2.25
1964Q4,1964.0,4.0,3431.957,2141.2,389.910,514.603,2420.4,31.280,160.7,3.76,5.0,193.223,2.05,1.71
1965Q1,1965.0,1.0,3516.251,2188.8,429.145,508.006,2447.4,31.380,162.0,3.93,4.9,193.709,1.28,2.65
1965Q2,1965.0,2.0,3563.960,2213.0,429.119,508.931,2474.5,31.580,163.1,3.84,4.7,194.303,2.54,1.30
1965Q3,1965.0,3.0,3636.285,2251.0,444.444,529.446,2542.6,31.650,166.0,3.93,4.4,194.997,0.89,3.04
1965Q4,1965.0,4.0,3724.014,2314.3,446.493,544.121,2594.1,31.880,169.1,4.35,4.1,195.539,2.90,1.46
1966Q1,1966.0,1.0,3815.423,2348.5,484.244,556.593,2618.4,32.280,171.8,4.62,3.9,195.999,4.99,-0.37
1966Q2,1966.0,2.0,3828.124,2354.5,475.408,571.371,2624.7,32.450,170.3,4.65,3.8,196.560,2.10,2.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002Q2,2002.0,2.0,11538.770,7997.8,1810.779,774.408,8658.9,180.000,1199.5,1.70,5.8,288.028,1.56,0.14
2002Q3,2002.0,3.0,11596.430,8052.0,1814.531,786.673,8629.2,181.200,1204.0,1.61,5.7,288.783,2.66,-1.05
2002Q4,2002.0,4.0,11598.824,8080.6,1813.219,799.967,8649.6,182.600,1226.8,1.20,5.8,289.421,3.08,-1.88
2003Q1,2003.0,1.0,11645.819,8122.3,1813.141,800.196,8681.3,183.200,1248.4,1.14,5.9,290.019,1.31,-0.17
2003Q2,2003.0,2.0,11738.706,8197.8,1823.698,838.775,8812.5,183.700,1287.9,0.96,6.2,290.704,1.09,-0.13
2003Q3,2003.0,3.0,11935.461,8312.1,1889.883,839.598,8935.4,184.900,1297.3,0.94,6.1,291.449,2.60,-1.67
2003Q4,2003.0,4.0,12042.817,8358.0,1959.783,845.722,8986.4,186.300,1306.1,0.90,5.8,292.057,3.02,-2.11
2004Q1,2004.0,1.0,12127.623,8437.6,1970.015,856.570,9025.9,187.400,1332.1,0.94,5.7,292.635,2.35,-1.42
2004Q2,2004.0,2.0,12213.818,8483.2,2055.580,861.440,9115.0,189.100,1340.5,1.21,5.6,293.310,3.61,-2.41
2004Q3,2004.0,3.0,12303.533,8555.8,2082.231,876.385,9175.9,190.800,1361.0,1.63,5.4,294.066,3.58,-1.95
2004Q4,2004.0,4.0,12410.282,8654.2,2125.152,865.596,9303.4,191.800,1366.6,2.20,5.4,294.741,2.09,0.11
2005Q1,2005.0,1.0,12534.113,8719.0,2170.299,869.204,9189.6,193.800,1357.8,2.69,5.3,295.308,4.15,-1.46
2005Q2,2005.0,2.0,12587.535,8802.9,2131.468,870.044,9253.0,194.700,1366.6,3.01,5.1,295.994,1.85,1.16
2005Q3,2005.0,3.0,12683.153,8865.6,2154.949,890.394,9308.0,199.200,1375.0,3.52,5.0,296.770,9.14,-5.62
2005Q4,2005.0,4.0,12748.699,8888.5,2232.193,875.557,9358.7,199.400,1380.6,4.00,4.9,297.435,0.40,3.60
2006Q1,2006.0,1.0,12915.938,8986.6,2264.721,900.511,9533.8,200.700,1380.5,4.51,4.7,298.061,2.60,1.91
2006Q2,2006.0,2.0,12962.462,9035.0,2261.247,892.839,9617.3,202.700,1369.2,4.82,4.7,298.766,3.97,0.85
2006Q3,2006.0,3.0,12965.916,9090.7,2229.636,892.002,9662.5,201.900,1369.4,4.90,4.7,299.593,-1.58,6.48
2006Q4,2006.0,4.0,13060.679,9181.6,2165.966,894.404,9788.8,203.574,1373.6,4.92,4.4,300.320,3.30,1.62
2007Q1,2007.0,1.0,13099.901,9265.1,2132.609,882.766,9830.2,205.920,1379.7,4.95,4.5,300.977,4.58,0.36
2007Q2,2007.0,2.0,13203.977,9291.5,2162.214,898.713,9842.7,207.338,1370.0,4.72,4.5,301.714,2.75,1.97
2007Q3,2007.0,3.0,13321.109,9335.6,2166.491,918.983,9883.9,209.133,1379.2,4.00,4.7,302.509,3.45,0.55
2007Q4,2007.0,4.0,13391.249,9363.6,2123.426,925.110,9886.2,212.495,1377.4,3.01,4.8,303.204,6.38,-3.37
2008Q1,2008.0,1.0,13366.865,9349.6,2082.886,943.372,9826.8,213.997,1384.0,1.56,4.9,303.803,2.82,-1.26
2008Q2,2008.0,2.0,13415.266,9351.0,2026.518,961.280,10059.0,218.610,1409.3,1.74,5.4,304.483,8.53,-6.79
2008Q3,2008.0,3.0,13324.600,9267.7,1990.693,991.551,9838.3,216.889,1474.7,1.17,6.0,305.270,-3.16,4.33
2008Q4,2008.0,4.0,13141.920,9195.3,1857.661,1007.273,9920.4,212.174,1576.5,0.12,6.9,305.952,-8.79,8.91
2009Q1,2009.0,1.0,12925.410,9209.2,1558.494,996.287,9926.4,212.671,1592.8,0.22,8.1,306.547,0.94,-0.71
2009Q2,2009.0,2.0,12901.504,9189.0,1456.678,1023.528,10077.5,214.469,1653.6,0.18,9.2,307.226,3.37,-3.19
2009Q3,2009.0,3.0,12990.341,9256.0,1486.398,1044.088,10040.6,216.385,1673.9,0.12,9.6,308.013,3.56,-3.44

In [229]:
In [208]: rng = pd.date_range('2000-01-01', periods=100, freq='D')
In [209]: ts = pd.Series(np.random.randn(len(rng)), index=rng)
In [210]: ts

2000-01-01   -0.768387
2000-01-02   -0.941647
2000-01-03    0.204424
2000-01-04   -1.285197
2000-01-05   -0.778199
2000-01-06   -0.464794
2000-01-07    0.968855
2000-01-08   -1.038679
2000-01-09   -1.725554
2000-01-10   -2.163238
2000-01-11   -0.346454
2000-01-12   -0.519967
2000-01-13   -1.220327
2000-01-14   -1.316864
2000-01-15   -0.605272
2000-01-16    0.682911
2000-01-17    0.582273
2000-01-18   -0.398816
2000-01-19   -0.046964
2000-01-20   -1.582881
2000-01-21    0.697146
2000-01-22    1.051535
2000-01-23   -1.465803
2000-01-24    0.099321
2000-01-25   -1.182577
2000-01-26    0.292281
2000-01-27   -0.785957
2000-01-28    0.034781
2000-01-29   -0.148138
2000-01-30    0.558333
                ...
2000-03-11   -0.732585
2000-03-12   -0.386676
2000-03-13   -1.120791
2000-03-14   -0.250229
2000-03-15   -0.545234
2000-03-16   -0.542934
2000-03-17   -0.004620
2000-03-18   -0.974357
2000-03-19   -0.829396
2000-03-20   -0.372855
2000-03-21   -0.378961
2000-03-22    1.842215
2000-03-23    0.200712
2000-03-24   -1.098540
2000-03-25    0.177765
2000-03-26   -1.015640
2000-03-27    0.829043
2000-03-28    1.266473
2000-03-29   -0.598164
2000-03-30   -0.297499
2000-03-31    0.156879
2000-04-01    1.160558
2000-04-02   -1.163761
2000-04-03    0.167965
2000-04-04   -0.127578
2000-04-05   -0.765967
2000-04-06   -0.516657
2000-04-07    0.754130
2000-04-08   -0.239035
2000-04-09   -0.115379
Freq: D, Length: 100, dtype: float64

In [230]:
ts.resample('M').mean()

2000-01-31   -0.422492
2000-02-29    0.388509
2000-03-31   -0.096392
2000-04-30   -0.093969
Freq: M, dtype: float64

In [231]:
In [213]: rng = pd.date_range('2000-01-01', periods=12, freq='T')
In [214]: ts = pd.Series(np.arange(12), index=rng)
In [215]: ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [232]:
ts.resample('5min',closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [237]:
ts.resample('5min',closed='right',label='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int32

In [239]:
ts.resample('5min',closed='right',label='right',loffset='-1s').sum()

1999-12-31 23:59:59     0
2000-01-01 00:04:59    15
2000-01-01 00:09:59    40
2000-01-01 00:14:59    11
Freq: 5T, dtype: int32

In [240]:
In [220]: ts.resample('5min').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

In [242]:
In [221]: frame = pd.DataFrame(np.random.randn(2, 4),
.....: index=pd.date_range('1/1/2000',periods=2,
.....: freq='W-WED'),
.....: columns=['Colorado', 'Texas', 'NewYork', 'Ohio'])

In [243]:
frame

            Colorado     Texas   NewYork      Ohio
2000-01-05 -0.775995 -0.638244 -0.781454  0.401789
2000-01-12  0.692097  0.757979 -0.341202 -0.143091

In [249]:
df_daily = frame.resample('D').asfreq()

In [250]:
df_daily

            Colorado     Texas   NewYork      Ohio
2000-01-05 -0.775995 -0.638244 -0.781454  0.401789
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12  0.692097  0.757979 -0.341202 -0.143091

In [252]:
frame.resample("D").ffill(limit=2)

            Colorado     Texas   NewYork      Ohio
2000-01-05 -0.775995 -0.638244 -0.781454  0.401789
2000-01-06 -0.775995 -0.638244 -0.781454  0.401789
2000-01-07 -0.775995 -0.638244 -0.781454  0.401789
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12  0.692097  0.757979 -0.341202 -0.143091

In [253]:
frame

            Colorado     Texas   NewYork      Ohio
2000-01-05 -0.775995 -0.638244 -0.781454  0.401789
2000-01-12  0.692097  0.757979 -0.341202 -0.143091

In [254]:
frame.resample('W-THU').ffill()

            Colorado     Texas   NewYork      Ohio
2000-01-06 -0.775995 -0.638244 -0.781454  0.401789
2000-01-13  0.692097  0.757979 -0.341202 -0.143091

In [257]:
In [228]: frame = pd.DataFrame(np.random.randn(24, 4),
.....: index=pd.period_range('1-2000', '12-2001',
.....: freq='M'),
.....: columns=['Colorado', 'Texas', 'NewYork', 'Ohio'])
In [229]: frame[:5]

         Colorado     Texas   NewYork      Ohio
2000-01 -0.303538  0.923017  0.971653  2.550999
2000-02 -1.659654  0.378540 -0.568642 -1.244990
2000-03  1.363365  1.037500  0.152709 -0.022599
2000-04  1.081703 -0.432727  1.012752  0.114056
2000-05  0.178714 -0.792548  1.136298 -0.106198

In [258]:
annual_frame = frame.resample('A-DEC').mean()

In [259]:
annual_frame

      Colorado     Texas   NewYork      Ohio
2000  0.116329  0.146545  0.627952  0.703464
2001  0.117846  0.548881  0.350793 -0.207717

In [260]:
annual_frame.resample('Q-DEC').ffill()

        Colorado     Texas   NewYork      Ohio
2000Q1  0.116329  0.146545  0.627952  0.703464
2000Q2  0.116329  0.146545  0.627952  0.703464
2000Q3  0.116329  0.146545  0.627952  0.703464
2000Q4  0.116329  0.146545  0.627952  0.703464
2001Q1  0.117846  0.548881  0.350793 -0.207717
2001Q2  0.117846  0.548881  0.350793 -0.207717
2001Q3  0.117846  0.548881  0.350793 -0.207717
2001Q4  0.117846  0.548881  0.350793 -0.207717

In [261]:
annual_frame.resample('Q-DEC',convention='end').ffill()

        Colorado     Texas   NewYork      Ohio
2000Q4  0.116329  0.146545  0.627952  0.703464
2001Q1  0.116329  0.146545  0.627952  0.703464
2001Q2  0.116329  0.146545  0.627952  0.703464
2001Q3  0.116329  0.146545  0.627952  0.703464
2001Q4  0.117846  0.548881  0.350793 -0.207717

In [262]:
In [235]: close_px_all = pd.read_csv('examples/stock_px_2.csv',
.....: parse_dates=True, index_col=0)
In [236]: close_px = close_px_all[['AAPL', 'MSFT', 'XOM']]

In [263]:
In [237]: close_px = close_px.resample('B').ffill()

In [264]:
close_px

              AAPL   MSFT    XOM
2003-01-02    7.40  21.11  29.22
2003-01-03    7.45  21.14  29.24
2003-01-06    7.45  21.52  29.96
2003-01-07    7.43  21.93  28.95
2003-01-08    7.28  21.31  28.83
2003-01-09    7.34  21.93  29.44
2003-01-10    7.36  21.97  29.03
2003-01-13    7.32  22.16  28.91
2003-01-14    7.30  22.39  29.17
2003-01-15    7.22  22.11  28.77
2003-01-16    7.31  21.75  28.90
2003-01-17    7.05  20.22  28.60
2003-01-20    7.05  20.22  28.60
2003-01-21    7.01  20.17  27.94
2003-01-22    6.94  20.04  27.58
2003-01-23    7.09  20.54  27.52
2003-01-24    6.90  19.59  26.93
2003-01-27    7.07  19.32  26.21
2003-01-28    7.29  19.18  26.90
2003-01-29    7.47  19.61  27.88
2003-01-30    7.16  18.95  27.37
2003-01-31    7.18  18.65  28.13
2003-02-03    7.33  19.08  28.52
2003-02-04    7.30  18.59  28.52
2003-02-05    7.22  18.45  28.11
2003-02-06    7.22  18.63  27.87
2003-02-07    7.07  18.30  27.66
2003-02-10    7.18  18.62  27.87
2003-02-11    7.18  18.25  27.67
2003-02-12    7.20  18.25  27.12
...            ...    ...    ...
2011-09-05  374.05  25.80  72.14
2011-09-06  379.74  25.51  71.15
2011-09-07  383.93  26.00  73.65
2011-09-08  384.14  26.22  72.82
2011-09-09  377.48  25.74  71.01
2011-09-12  379.94  25.89  71.84
2011-09-13  384.62  26.04  71.65
2011-09-14  389.30  26.50  72.64
2011-09-15  392.96  26.99  74.01
2011-09-16  400.50  27.12  74.55
2011-09-19  411.63  27.21  73.70
2011-09-20  413.45  26.98  74.01
2011-09-21  412.14  25.99  71.97
2011-09-22  401.82  25.06  69.24
2011-09-23  404.30  25.06  69.31
2011-09-26  403.17  25.44  71.72
2011-09-27  399.26  25.67  72.91
2011-09-28  397.01  25.58  72.07
2011-09-29  390.57  25.45  73.88
2011-09-30  381.32  24.89  72.63
2011-10-03  374.60  24.53  71.15
2011-10-04  372.50  25.34  72.83
2011-10-05  378.25  25.89  73.95
2011-10-06  377.37  26.34  73.89
2011-10-07  369.80  26.25  73.56
2011-10-10  388.81  26.94  76.28
2011-10-11  400.29  27.00  76.27
2011-10-12  402.19  26.96  77.16
2011-10-13  408.43  27.18  76.37
2011-10-14  422.00  27.27  78.11

[2292 rows x 3 columns]

In [265]:
close_px.AAPL.plot()

In [272]:
%matplotlib notebook

Warning: Cannot change to a different GUI toolkit: notebook. Using qt instead.

In [273]:
close_px.AAPL.plot()

In [280]:
close_px.AAPL.rolling(90).mean().plot()

In [275]:
appl_std250 = close_px.AAPL.rolling(250,min_periods=10).std()

In [276]:
appl_std250[5:12]

2003-01-09         NaN
2003-01-10         NaN
2003-01-13         NaN
2003-01-14         NaN
2003-01-15    0.077496
2003-01-16    0.074760
2003-01-17    0.112368
Freq: B, Name: AAPL, dtype: float64

In [277]:
appl_std250.plot()

In [281]:
ex_mean = appl_std250.expanding().mean()

In [282]:
ex_mean.shape

(2292,)

In [283]:
appl_std250.shape

(2292,)

In [286]:
close_px.shape

(2292, 3)

In [287]:
ex_mean.plot()

In [288]:
close_px.rolling(60).mean().plot(logy=True)

C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\scale.py:111: RuntimeWarning: invalid value encountered in less_equal
  out[a <= 0] = -1000

In [289]:
close_px.rolling('20D').mean()

                  AAPL       MSFT        XOM
2003-01-02    7.400000  21.110000  29.220000
2003-01-03    7.425000  21.125000  29.230000
2003-01-06    7.433333  21.256667  29.473333
2003-01-07    7.432500  21.425000  29.342500
2003-01-08    7.402000  21.402000  29.240000
2003-01-09    7.391667  21.490000  29.273333
2003-01-10    7.387143  21.558571  29.238571
2003-01-13    7.378750  21.633750  29.197500
2003-01-14    7.370000  21.717778  29.194444
2003-01-15    7.355000  21.757000  29.152000
2003-01-16    7.350909  21.756364  29.129091
2003-01-17    7.325833  21.628333  29.085000
2003-01-20    7.304615  21.520000  29.047692
2003-01-21    7.283571  21.423571  28.968571
2003-01-22    7.250714  21.347143  28.851429
2003-01-23    7.225000  21.304286  28.728571
2003-01-24    7.203333  21.190000  28.608667
2003-01-27    7.160000  20.980000  28.316429
2003-01-28    7.160714  20.827857  28.178571
2003-01-29    7.170000  20.662143  28.067143
2003-01-30    7.155714  20.446429  27.948571
2003-01-31    7.157333  20.326667  27.960667
2003-02-03    7.147857  19.959286  27.846429
2003-02-04    7.153571  19.707857  27.828571
2003-02-05    7.147143  19.472143  27.772143
2003-02-06    7.159286  19.358571  27.720000
2003-02-07    7.153333  19.288000  27.716000
2003-02-10    7.172857  19.110714  27.647857
2003-02-11    7.190000  18.982857  27.654286
2003-02-12    7.197857  18.819286  27.625714
...                ...        ...        ...
2011-09-05  375.711429  25.276429  72.607857
2011-09-06  375.661429  25.295000  72.392857
2011-09-07  376.938571  25.390000  72.586429
2011-09-08  378.946429  25.545000  72.802143
2011-09-09  378.848667  25.558000  72.682667
2011-09-12  380.902143  25.754286  72.731429
2011-09-13  381.505000  25.835714  72.596429
2011-09-14  382.617857  25.973571  72.658571
2011-09-15  383.287857  26.097857  72.756429
2011-09-16  384.435333  26.166000  72.876000
2011-09-19  385.585714  26.259286  72.772143
2011-09-20  387.630000  26.286429  72.771429
2011-09-21  389.852143  26.270714  72.662857
2011-09-22  391.835714  26.217857  72.455714
2011-09-23  392.666667  26.140667  72.246000
2011-09-26  395.670000  26.160000  72.294286
2011-09-27  396.765000  26.136429  72.241429
2011-09-28  397.684286  26.090714  72.187857
2011-09-29  398.619286  26.070000  72.392857
2011-09-30  397.466000  25.991333  72.408667
2011-10-03  398.002143  25.890714  72.413571
2011-10-04  396.802143  25.807857  72.427143
2011-10-05  395.751429  25.729286  72.422857
2011-10-06  394.099286  25.673571  72.375714
2011-10-07  392.479333  25.712000  72.454667
2011-10-10  389.351429  25.602143  72.527857
2011-10-11  388.505000  25.674286  72.835000
2011-10-12  388.531429  25.810000  73.400714
2011-10-13  388.826429  25.961429  73.905000
2011-10-14  391.038000  26.048667  74.185333

[2292 rows x 3 columns]

In [290]:
aapl_px = close_px.AAPL['2006':'2007']

In [291]:
ma60 = aapl_px.rolling(30,min_periods=20).mean()

In [292]:
ewma60 = aapl_px.ewm(span=30).mean()

In [293]:
ma60.plot(style='k--',label='Simple MA')

In [294]:
ewma60.plot(style='k-',label='EW MA')

In [295]:
import matplotlib.pyplot as plt

In [296]:
plt.legend()

In [297]:
In [256]: spx_px = close_px_all['SPX']
In [257]: spx_rets = spx_px.pct_change()
In [258]: returns = close_px.pct_change()

In [298]:
corr = returns.AAPL.rolling(125,min_periods=100).corr(spx_rets)

In [299]:
corr

2003-01-02         NaN
2003-01-03         NaN
2003-01-06         NaN
2003-01-07         NaN
2003-01-08         NaN
2003-01-09         NaN
2003-01-10         NaN
2003-01-13         NaN
2003-01-14         NaN
2003-01-15         NaN
2003-01-16         NaN
2003-01-17         NaN
2003-01-20         NaN
2003-01-21         NaN
2003-01-22         NaN
2003-01-23         NaN
2003-01-24         NaN
2003-01-27         NaN
2003-01-28         NaN
2003-01-29         NaN
2003-01-30         NaN
2003-01-31         NaN
2003-02-03         NaN
2003-02-04         NaN
2003-02-05         NaN
2003-02-06         NaN
2003-02-07         NaN
2003-02-10         NaN
2003-02-11         NaN
2003-02-12         NaN
                ...
2011-09-05    0.752357
2011-09-06    0.745761
2011-09-07    0.741550
2011-09-08    0.738944
2011-09-09    0.746317
2011-09-12    0.743924
2011-09-13    0.745615
2011-09-14    0.748272
2011-09-15    0.747067
2011-09-16    0.748199
2011-09-19    0.731196
2011-09-20    0.731751
2011-09-21    0.728798
2011-09-22    0.735271
2011-09-23    0.740145
2011-09-26    0.731302
2011-09-27    0.725213
2011-09-28    0.725128
2011-09-29    0.715894
2011-09-30    0.721275
2011-10-03    0.725977
2011-10-04    0.715843
2011-10-05    0.718517
2011-10-06    0.714363
2011-10-07    0.718846
2011-10-10    0.736464
2011-10-11    0.729906
2011-10-12    0.728404
2011-10-13    0.727165
2011-10-14    0.729858
Length: 2292, dtype: float64

In [300]:
corr.plot()

In [301]:
returns.rolling(125,min_periods=100).corr(spx_rets).plot()

In [302]:
from scipy.stats import percentileofscore

In [303]:
 score_at_2percent = lambda x: percentileofscore(x, 0.02)

In [304]:
result = returns.AAPL.rolling(250).apply(score_at_2percent)

In [305]:
result.plot()