In [1]:
tup = 4,5,6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (2,3),(4,5,6)

In [4]:
nested_tup

((2, 3), (4, 5, 6))

In [5]:
tup = tuple([1,2,3])

In [6]:
tup

(1, 2, 3)

In [7]:
tup = tuple('string')

In [8]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [9]:
tup[0]

's'

In [10]:
tup = tuple(['foo',[1,2],True])

In [11]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [12]:
tup[1].append(3)

In [13]:
tup

('foo', [1, 2, 3], True)

In [14]:
(4,None,'foo') + (6,0)+('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [15]:
('foo','bar')*4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [16]:
tup=(4,5,6)

In [17]:
a,b,c=tup

In [18]:
a

4

In [19]:
b

5

In [20]:
c

6

In [21]:
tup=4,5,(6,7)

In [22]:
a,b,(c,d)=tup

In [23]:
d

7

In [24]:
a,b = 1,2

In [25]:
b,a = a,b

In [26]:
a

2

In [27]:
b

1

In [28]:
seq = [(1,2,3),(4,5,6),(7,8,9)]

In [30]:
for a,b,c in seq:
    print('a={0} b={1} c={2}'.format(a,b,c))

a=1 b=2 c=3
a=4 b=5 c=6
a=7 b=8 c=9

In [31]:
values = 1,2,3,4,5

In [32]:
a,b,*rest=values

In [33]:
a

1

In [34]:
rest

[3, 4, 5]

In [35]:
a,b,*_ = values

In [36]:
_

[3, 4, 5]

In [37]:
a = (1,2,2,2,3,4,2)

In [38]:
a.count(2)

4

In [39]:
a_list = [2,3,7,None]

In [40]:
tup = ('foo','bar','baz')

In [43]:
b_list = list(tup)

In [44]:
b_list[1]='peekaboo'

In [45]:
b_list

['foo', 'peekaboo', 'baz']

In [46]:
gen=range(10)

In [47]:
gen

range(0, 10)

In [48]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
b_list.append('drawoop')

In [50]:
b_list

['foo', 'peekaboo', 'baz', 'drawoop']

In [51]:
b_list.insert(1,'red')

In [52]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'drawoop']

In [53]:
b_list.pop(2)

'peekaboo'

In [54]:
b_list

['foo', 'red', 'baz', 'drawoop']

In [55]:
b_list.append('foo')

In [56]:
b_list.remove('foo')

In [57]:
b_list

['red', 'baz', 'drawoop', 'foo']

In [58]:
'foo' in b_list

True

In [59]:
'foo' not in b_list

False

In [60]:
[4,None,'foo'] + [7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [61]:
x = [4,None,'foo']

In [62]:
x.extend([7,8,(2,3)])

In [63]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [64]:
a = [7,2,5,1,3]

In [65]:
a

[7, 2, 5, 1, 3]

In [66]:
a.sort()

In [67]:
a

[1, 2, 3, 5, 7]

In [68]:
b = ['saw', 'small', 'He','foxes',"six"]

In [69]:
b

['saw', 'small', 'He', 'foxes', 'six']

In [70]:
b.sort(key=len)

In [71]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [72]:
b.sort()

In [73]:
b

['He', 'foxes', 'saw', 'six', 'small']

In [74]:
import bisect

In [75]:
c = [1,2,2,2,3,4,7]

In [77]:
bisect.bisect(c,2)

4

In [78]:
c

[1, 2, 2, 2, 3, 4, 7]

In [79]:
bisect.bisect(c,5)

6

In [80]:
bisect.insort(c,5)

In [81]:
c

[1, 2, 2, 2, 3, 4, 5, 7]

In [82]:
bisect.bisect(c,9)

8

In [83]:
bisect.insort(c,9)

In [84]:
seq = [2,4,6,1,3,4,6]

In [86]:
seq[1:5]

[4, 6, 1, 3]

In [88]:
seq[3:4]=[6,3]

In [90]:
seq

[2, 4, 6, 6, 3, 3, 4, 6]

In [91]:
seq[:5]

[2, 4, 6, 6, 3]

In [93]:
seq[3:]

[6, 3, 3, 4, 6]

In [94]:
seq[-4:]

[3, 3, 4, 6]

In [97]:
seq[-6:-2]

[6, 6, 3, 3]

In [98]:
seq[::2]

[2, 6, 3, 4]

In [99]:
seq[::1]

[2, 4, 6, 6, 3, 3, 4, 6]

In [100]:
seq[::3]

[2, 6, 4]

In [101]:
seq[::-1]

[6, 4, 3, 3, 6, 6, 4, 2]

In [102]:
some_list = ['foo','bar','baz']

In [103]:
mapping = {}

In [104]:
for i,v in enumerate(some_list):
    mapping[v] = i

In [105]:
mapping

{'bar': 1, 'baz': 2, 'foo': 0}

In [107]:
sorted([4,1,6,3,7,9,0])

[0, 1, 3, 4, 6, 7, 9]

In [108]:
sorted('horse rase')

[' ', 'a', 'e', 'e', 'h', 'o', 'r', 'r', 's', 's']

In [109]:
seq1 = ['foo','bar','baz']

In [110]:
seq2 = ['one','two','three']

In [111]:
zipped = zip(seq1,seq2)

In [112]:
zipped

In [113]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [114]:
seq3 = [True,False]

In [115]:
list(zip(seq1,seq2,seq3))

[('foo', 'one', True), ('bar', 'two', False)]

In [116]:
for i,(a,b) in enumerate(zip(seq1,seq2)):
    print('{}:{},{}'.format(i,a,b))

0:foo,one
1:bar,two
2:baz,three

In [117]:
seq_z = list(zip(seq1,seq2))

In [118]:
seq_z

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [119]:
list_a,list_b = zip(*seq_z)

In [121]:
list_a

('foo', 'bar', 'baz')

In [122]:
list_b

('one', 'two', 'three')

In [124]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [125]:
reversed(list(range(10)))

In [126]:
empty_dict = {}

In [127]:
d1 = {'a':'some value','b':[1,2,3]}

In [128]:
d1[7] = range(10)

In [129]:
d1

{7: range(0, 10), 'a': 'some value', 'b': [1, 2, 3]}

In [131]:
d1['b']

[1, 2, 3]

In [132]:
'b' in d1

True

In [133]:
d1[5] = 'some value'

In [134]:
d1

{5: 'some value', 7: range(0, 10), 'a': 'some value', 'b': [1, 2, 3]}

In [135]:
d1['dummy'] = 'another value'

In [136]:
d1

{5: 'some value',
 7: range(0, 10),
 'a': 'some value',
 'b': [1, 2, 3],
 'dummy': 'another value'}

In [138]:
del d1[5]

In [139]:
d1

{7: range(0, 10), 'a': 'some value', 'b': [1, 2, 3], 'dummy': 'another value'}

In [140]:
ret = d1.pop('dummy')

In [141]:
ret

'another value'

In [142]:
d1

{7: range(0, 10), 'a': 'some value', 'b': [1, 2, 3]}

In [143]:
d1.keys()

dict_keys(['a', 'b', 7])

In [144]:
d1.values()

dict_values(['some value', [1, 2, 3], range(0, 10)])

In [145]:
d1

{7: range(0, 10), 'a': 'some value', 'b': [1, 2, 3]}

In [148]:
d1.update({'b':'new value','c':'exit'})

In [149]:
d1

{7: range(0, 10), 'a': 'exit', 'b': 'new value', 'c': 'exit'}

In [151]:
mapping = dict(zip(range(5),reversed(range(5))))

In [152]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [154]:
words = ['apple','foo','bar','baz','atom','book']

In [155]:
by_letter={}

In [156]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [157]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bar', 'baz', 'book'], 'f': ['foo']}

In [158]:
by_letter={}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter,[]).append(word)

In [159]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bar', 'baz', 'book'], 'f': ['foo']}

In [160]:
by_letter.get('c',[]).append("ccc")

In [161]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bar', 'baz', 'book'], 'f': ['foo']}

In [162]:
set({2,3,2,2,1,1,})

{1, 2, 3}

In [163]:
{2,3,3,3,1,1}

{1, 2, 3}

In [164]:
a = set(range(1,6))

In [165]:
b = set(range(3,10))

In [166]:
a

{1, 2, 3, 4, 5}

In [167]:
b

{3, 4, 5, 6, 7, 8, 9}

In [168]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [169]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [170]:
a.intersection(b)

{3, 4, 5}

In [171]:
a & b

{3, 4, 5}

In [172]:
a.intersection_update(b)

In [173]:
a

{3, 4, 5}

In [174]:
b

{3, 4, 5, 6, 7, 8, 9}

In [175]:
c = a.copy()

In [176]:
c |= b

In [177]:
c

{3, 4, 5, 6, 7, 8, 9}

In [178]:
d = a.copy()

In [179]:
d &= b

In [180]:
d

{3, 4, 5}

In [181]:
my_data = [1,2,3,4]

In [182]:
my_set = set(tuple(my_data))

In [183]:
my_set

{1, 2, 3, 4}

In [184]:
my_set = set(my_data)

In [185]:
my_set

{1, 2, 3, 4}

In [186]:
a_set = set(range(6))

In [187]:
my_set.issubset(a_set)

True

In [188]:
a_set.issuperset(my_set)

True

In [189]:
my_set.isdisjoint(a_set)

False

In [191]:
my_set == {4,3,2,1}

True

In [192]:
a = ['a','as','bar','bat','python']

In [194]:
[i.upper() for i in a if len(i)>2]

['BAR', 'BAT', 'PYTHON']

In [200]:
uLen = {len(i) for i in a}

In [201]:
a

['a', 'as', 'bar', 'bat', 'python']

In [202]:
uLen = {len(i) for i in a}

In [203]:
uLen

{1, 2, 3, 6}

In [204]:
set(map(len,a))

{1, 2, 3, 6}

In [205]:
lmapping = {v:i for i,v in enumerate(a)}

In [206]:
lmapping

{'a': 0, 'as': 1, 'bar': 2, 'bat': 3, 'python': 4}

In [207]:
some_tuple = [(1,2,3),(4,5,6),(7,8,9)]

In [208]:
flattend = [i for t in some_tuple for i in t]

In [209]:
flattend

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [210]:
[[i for i in t] for t in some_tuple]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [211]:
a = None

In [212]:
def bind_a_var():
    global a
    a = []

In [213]:
a

In [214]:
bind_a_var()

In [215]:
a

[]

In [217]:
def bind_a_var():
    a = 1

In [219]:
bind_a_var()

In [220]:
a

[]

In [221]:
status = ['   Ambaria','Georal!','Georal','georal','FloRiDa','sourth canoria###','West virigia?']

In [222]:
import re

In [227]:
def clean_str(s):
    result = []
    for v in s:
        v = v.strip()
        v = re.sub('[!#?]','',v)
        v = v.title()
        result.append(v)
    return result

In [228]:
clean_str(status)

['Ambaria',
 'Georal',
 'Georal',
 'Georal',
 'Florida',
 'Sourth Canoria',
 'West Virigia']

In [229]:
def clean_bad(s):
    return re.sub('[#!?]','',s)
ops = [str.strip,clean_bad,str.title]
def clean_v2(s,ops):
    result = []
    for v in s:
        for op in ops:
            v = op(v)
        result.append(v)
    return result

In [230]:
clean_v2(status,ops)

['Ambaria',
 'Georal',
 'Georal',
 'Georal',
 'Florida',
 'Sourth Canoria',
 'West Virigia']

In [231]:
for x in map(clean_bad,status):
    print(x)

   Ambaria
Georal
Georal
georal
FloRiDa
sourth canoria
West virigia

In [234]:
strings = ['foo','kinder','little','big','patch']

In [235]:
strings.sort(key=lambda e:len(set(e)))

In [236]:
strings

['foo', 'big', 'little', 'patch', 'kinder']

In [238]:
some_dict = dict(zip(range(3),list('abc')))

In [239]:
some_dict

{0: 'a', 1: 'b', 2: 'c'}

In [242]:
for k in some_dict:
    print(k)

0
1
2

In [243]:
dict_iterator = iter(some_dict)

In [244]:
dict_iterator

In [245]:
def squre(n=10):
    print('生成 1 到 {} 的平方'.format(n))
    for i in range(1,n+1):
        yield i**2

In [246]:
squre()

In [247]:
t = squre()

In [254]:
a = None

In [255]:
t.send(a)

生成 1 到 10 的平方

1

In [256]:
t.send(a)

4

In [257]:
t.send(a)

9

In [259]:
for i in t:
    print(i)

In [260]:
for i in squre():
    print(i)

生成 1 到 10 的平方
1
4
9
16
25
36
49
64
81
100

In [261]:
gen = (x**2 for x in range(10))

In [262]:
gen

In [263]:
for i in gen:
    print(i)

0
1
4
9
16
25
36
49
64
81

In [264]:
sum(x**2 for x in range(10))

285

In [265]:
dict((x,x**2) for x in range(100))

{0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400,
 21: 441,
 22: 484,
 23: 529,
 24: 576,
 25: 625,
 26: 676,
 27: 729,
 28: 784,
 29: 841,
 30: 900,
 31: 961,
 32: 1024,
 33: 1089,
 34: 1156,
 35: 1225,
 36: 1296,
 37: 1369,
 38: 1444,
 39: 1521,
 40: 1600,
 41: 1681,
 42: 1764,
 43: 1849,
 44: 1936,
 45: 2025,
 46: 2116,
 47: 2209,
 48: 2304,
 49: 2401,
 50: 2500,
 51: 2601,
 52: 2704,
 53: 2809,
 54: 2916,
 55: 3025,
 56: 3136,
 57: 3249,
 58: 3364,
 59: 3481,
 60: 3600,
 61: 3721,
 62: 3844,
 63: 3969,
 64: 4096,
 65: 4225,
 66: 4356,
 67: 4489,
 68: 4624,
 69: 4761,
 70: 4900,
 71: 5041,
 72: 5184,
 73: 5329,
 74: 5476,
 75: 5625,
 76: 5776,
 77: 5929,
 78: 6084,
 79: 6241,
 80: 6400,
 81: 6561,
 82: 6724,
 83: 6889,
 84: 7056,
 85: 7225,
 86: 7396,
 87: 7569,
 88: 7744,
 89: 7921,
 90: 8100,
 91: 8281,
 92: 8464,
 93: 8649,
 94: 8836,
 95: 9025,
 96: 9216,
 97: 9409,
 98: 9604,
 99: 9801}

In [266]:
import itertools

In [267]:
first = lambda x: x[0]

In [268]:
status

['   Ambaria',
 'Georal!',
 'Georal',
 'georal',
 'FloRiDa',
 'sourth canoria###',
 'West virigia?']

In [276]:
for k,v in itertools.groupby(status,first):
    print(f'{k}:{",".join(v)}')

 :   Ambaria
G:Georal!,Georal
g:georal
F:FloRiDa
s:sourth canoria###
W:West virigia?

In [292]:
def try_float(s):
    try:
        return float(s)
    except:
        return s

In [289]:
try_float("1.232")

1.232

In [290]:
try_float("fea")

'fea'

In [299]:
%run bug.py

Exception: ff

In [ ]:
%debug

> c:\users\goomhoom\bug.py(2)bug()
      1 def bug():
----> 2     raise Exception("ff")
      3 bug()

ipdb> bug
<function bug at 0x000001C6D0F582F0>
ipdb> bug()
*** Exception: ff

In [ ]:
path = 'bug.py'

In [3]:
f = open('bug.py')

In [4]:
for i in f:
    print(i)

def bug():

    raise Exception("ff")

bug()

In [5]:
f.close()

In [6]:
f = open('bug.py')

In [7]:
lines = [i.rstrip() for i in f]

In [9]:
lines

['def bug():', '    raise Exception("ff")', 'bug()']

In [10]:
f.close()

In [11]:
with open('bug.py') as f:
    lines = [i.rstrip() for i in f]

In [12]:
lines

['def bug():', '    raise Exception("ff")', 'bug()']

In [13]:
f = open('bug.py')

In [14]:
f.read(10)

'def bug():'

In [15]:
f2 = open('bug.py','rb')

In [16]:
f2.read(10)

b'def bug():'

In [17]:
f.tell()

10

In [18]:
f2.tell()

10

In [19]:
import sys

In [20]:
sys.getdefaultencoding()

'utf-8'

In [21]:
f.seek(3)

3

In [22]:
f.tell()

3

In [23]:
f.read(1)

' '

In [24]:
f.close()

In [25]:
f2.close()

In [26]:
with open('tmp.txt','w') as h:
    h.writelines(x for x in open('bug.py') if len(x) > 1)

In [27]:
with open('tmp.txt') as f:
    lines = f.readlines()

In [28]:
lines

['def bug():\n', '    raise Exception("ff")\n', 'bug()\n']

In [29]:
with open('tmp.txt') as f:
    chars = f.read(10)

In [30]:
chars

'def bug():'

In [31]:
with open('tmp.txt','rb') as f:
    chars = f.read(10)

In [32]:
chars

b'def bug():'

In [33]:
chars.decode('utf-8')

'def bug():'

In [34]:
chars[:4].decode('utf-8')

'def '