In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('examples/ex1.csv')

In [4]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
pd.read_table('examples/ex1.csv',sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [10]:
pd.read_csv('examples/ex2.csv', names = ['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [11]:
pd.read_csv('examples/ex2.csv', names = ['a','b','c','d','message'],index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [13]:
parsed = pd.read_csv('examples/csv_mindex.csv',index_col=['key1','key2'])

In [14]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [17]:
list(open('examples/ex3.txt'))

[' A B C\n',
 ' aaa -0.264438 -1.026059 -0.619500\n',
 ' bbb 0.927272 0.302904 -0.032399\n',
 ' ccc -0.264273 -0.386314 -0.217601\n',
 ' ddd -0.871858 -0.348382 1.100491\n',
 '\n']

In [18]:
result = pd.read_table('examples/ex3.txt',sep=r'\s+')

In [19]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [24]:
pd.read_csv('examples/ex4.csv', skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [25]:
result = pd.read_csv('examples/ex5.csv')

In [26]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [27]:
result.isnull()

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [34]:
result = pd.read_csv('examples/ex5.csv',na_values=['1'])

In [35]:
result

  something    a   b     c   d message
0       one  NaN   2   3.0   4     NaN
1       two  5.0   6   NaN   8   world
2     three  9.0  10  11.0  12     foo

In [36]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}

In [40]:
result = pd.read_csv('examples/ex5.csv',na_values=sentinels)

In [41]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [42]:
import numpy as np

In [48]:
data = np.random.randn(10000,4)

In [59]:
ex6 = pd.DataFrame(data=data,columns=['one','two','three','four'])

In [61]:
np.random.randint?

In [62]:
from random import choices

In [67]:
from string import ascii_uppercase

In [69]:
key = choices(list(ascii_uppercase),k=10000)

In [70]:
key

['V',
 'M',
 'T',
 'Q',
 'V',
 'Y',
 'M',
 'N',
 'Z',
 'A',
 'M',
 'F',
 'I',
 'H',
 'E',
 'E',
 'H',
 'L',
 'L',
 'U',
 'U',
 'U',
 'O',
 'J',
 'B',
 'P',
 'Q',
 'N',
 'X',
 'F',
 'B',
 'D',
 'F',
 'C',
 'Z',
 'C',
 'Y',
 'Y',
 'V',
 'F',
 'K',
 'G',
 'Z',
 'U',
 'Q',
 'O',
 'C',
 'P',
 'C',
 'Q',
 'N',
 'J',
 'J',
 'F',
 'L',
 'M',
 'Y',
 'E',
 'B',
 'A',
 'U',
 'Z',
 'S',
 'Q',
 'Z',
 'Q',
 'G',
 'T',
 'B',
 'H',
 'Z',
 'W',
 'Y',
 'H',
 'U',
 'R',
 'O',
 'A',
 'O',
 'E',
 'V',
 'G',
 'A',
 'O',
 'R',
 'K',
 'Q',
 'G',
 'J',
 'U',
 'O',
 'V',
 'O',
 'R',
 'J',
 'D',
 'P',
 'Z',
 'H',
 'R',
 'J',
 'U',
 'B',
 'W',
 'P',
 'F',
 'G',
 'K',
 'L',
 'E',
 'Z',
 'J',
 'N',
 'J',
 'I',
 'B',
 'U',
 'T',
 'B',
 'Y',
 'E',
 'T',
 'P',
 'O',
 'S',
 'Y',
 'B',
 'F',
 'U',
 'W',
 'S',
 'T',
 'R',
 'V',
 'P',
 'S',
 'S',
 'M',
 'B',
 'Q',
 'M',
 'Z',
 'Q',
 'A',
 'J',
 'M',
 'Q',
 'B',
 'S',
 'K',
 'Y',
 'S',
 'X',
 'J',
 'I',
 'F',
 'G',
 'A',
 'T',
 'M',
 'K',
 'C',
 'Z',
 'T',
 'Y',
 'F',
 'R',
 'V',
 'C',
 'M',
 'V',
 'N',
 'X',
 'A',
 'T',
 'K',
 'O',
 'J',
 'W',
 'X',
 'A',
 'J',
 'U',
 'N',
 'S',
 'N',
 'M',
 'Y',
 'B',
 'L',
 'Q',
 'O',
 'N',
 'Y',
 'F',
 'K',
 'C',
 'E',
 'C',
 'N',
 'A',
 'V',
 'I',
 'G',
 'S',
 'S',
 'E',
 'C',
 'A',
 'M',
 'C',
 'P',
 'E',
 'Y',
 'T',
 'L',
 'F',
 'A',
 'C',
 'G',
 'Z',
 'N',
 'R',
 'Y',
 'U',
 'F',
 'J',
 'J',
 'I',
 'W',
 'H',
 'J',
 'T',
 'Q',
 'C',
 'V',
 'S',
 'B',
 'N',
 'J',
 'X',
 'M',
 'P',
 'A',
 'U',
 'I',
 'I',
 'T',
 'B',
 'X',
 'Y',
 'Z',
 'H',
 'J',
 'E',
 'M',
 'B',
 'I',
 'C',
 'Q',
 'M',
 'O',
 'X',
 'T',
 'E',
 'P',
 'V',
 'X',
 'U',
 'D',
 'A',
 'Q',
 'J',
 'O',
 'K',
 'Z',
 'Y',
 'F',
 'S',
 'U',
 'X',
 'P',
 'W',
 'M',
 'W',
 'S',
 'P',
 'J',
 'V',
 'Y',
 'C',
 'B',
 'T',
 'J',
 'T',
 'N',
 'C',
 'G',
 'O',
 'Z',
 'T',
 'Y',
 'T',
 'Y',
 'Z',
 'X',
 'Y',
 'O',
 'V',
 'C',
 'V',
 'I',
 'P',
 'F',
 'O',
 'Y',
 'E',
 'J',
 'T',
 'G',
 'D',
 'R',
 'I',
 'E',
 'Q',
 'H',
 'R',
 'X',
 'U',
 'F',
 'M',
 'P',
 'D',
 'V',
 'W',
 'L',
 'F',
 'Q',
 'A',
 'A',
 'E',
 'E',
 'I',
 'O',
 'R',
 'A',
 'V',
 'Z',
 'F',
 'W',
 'G',
 'T',
 'N',
 'I',
 'F',
 'P',
 'C',
 'U',
 'P',
 'T',
 'U',
 'C',
 'W',
 'C',
 'T',
 'T',
 'S',
 'I',
 'L',
 'K',
 'B',
 'O',
 'F',
 'Z',
 'Y',
 'D',
 'I',
 'E',
 'O',
 'M',
 'P',
 'M',
 'W',
 'K',
 'K',
 'E',
 'S',
 'G',
 'E',
 'O',
 'R',
 'D',
 'F',
 'P',
 'V',
 'U',
 'N',
 'Z',
 'K',
 'U',
 'Z',
 'O',
 'K',
 'I',
 'D',
 'A',
 'N',
 'L',
 'I',
 'N',
 'T',
 'A',
 'I',
 'Y',
 'T',
 'U',
 'I',
 'H',
 'S',
 'C',
 'D',
 'K',
 'E',
 'C',
 'A',
 'A',
 'F',
 'B',
 'Z',
 'X',
 'D',
 'K',
 'G',
 'E',
 'B',
 'N',
 'S',
 'V',
 'B',
 'K',
 'X',
 'I',
 'C',
 'Q',
 'I',
 'I',
 'Z',
 'U',
 'W',
 'G',
 'Q',
 'B',
 'U',
 'N',
 'A',
 'S',
 'D',
 'Z',
 'O',
 'F',
 'R',
 'W',
 'K',
 'X',
 'D',
 'R',
 'X',
 'M',
 'Y',
 'L',
 'S',
 'Y',
 'V',
 'A',
 'K',
 'B',
 'H',
 'W',
 'U',
 'H',
 'P',
 'Y',
 'Y',
 'Z',
 'I',
 'W',
 'P',
 'A',
 'K',
 'R',
 'U',
 'U',
 'X',
 'R',
 'C',
 'C',
 'J',
 'P',
 'C',
 'M',
 'L',
 'U',
 'M',
 'A',
 'K',
 'E',
 'F',
 'I',
 'K',
 'D',
 'G',
 'C',
 'Z',
 'S',
 'V',
 'L',
 'K',
 'N',
 'K',
 'Q',
 'O',
 'D',
 'U',
 'K',
 'A',
 'J',
 'X',
 'A',
 'I',
 'I',
 'T',
 'S',
 'E',
 'S',
 'Q',
 'Q',
 'H',
 'E',
 'Z',
 'A',
 'C',
 'R',
 'T',
 'I',
 'T',
 'U',
 'C',
 'W',
 'H',
 'M',
 'O',
 'K',
 'G',
 'A',
 'X',
 'P',
 'M',
 'A',
 'B',
 'C',
 'K',
 'Q',
 'G',
 'B',
 'R',
 'L',
 'E',
 'C',
 'E',
 'K',
 'E',
 'M',
 'L',
 'K',
 'K',
 'K',
 'J',
 'E',
 'K',
 'A',
 'X',
 'P',
 'I',
 'S',
 'E',
 'L',
 'R',
 'C',
 'O',
 'I',
 'C',
 'Q',
 'T',
 'M',
 'N',
 'E',
 'Q',
 'U',
 'X',
 'L',
 'M',
 'I',
 'O',
 'K',
 'N',
 'Z',
 'S',
 'S',
 'H',
 'A',
 'U',
 'J',
 'G',
 'H',
 'Q',
 'Q',
 'C',
 'H',
 'R',
 'J',
 'X',
 'Z',
 'M',
 'T',
 'N',
 'N',
 'Y',
 'L',
 'V',
 'D',
 'V',
 'L',
 'R',
 'A',
 'N',
 'R',
 'C',
 'B',
 'Z',
 'U',
 'A',
 'C',
 'P',
 'S',
 'N',
 'P',
 'P',
 'E',
 'U',
 'W',
 'O',
 'U',
 'V',
 'Z',
 'V',
 'F',
 'Q',
 'P',
 'G',
 'R',
 'W',
 'E',
 'K',
 'P',
 'C',
 'Y',
 'A',
 'V',
 'U',
 'R',
 'Z',
 'C',
 'C',
 'W',
 'D',
 'H',
 'X',
 'U',
 'Z',
 'G',
 'V',
 'U',
 'L',
 'V',
 'M',
 'B',
 'Y',
 'V',
 'A',
 'B',
 'A',
 'O',
 'S',
 'Z',
 'D',
 'D',
 'C',
 'O',
 'I',
 'E',
 'C',
 'M',
 'T',
 'Y',
 'U',
 'L',
 'S',
 'E',
 'L',
 'A',
 'K',
 'V',
 'F',
 'A',
 'G',
 'C',
 'M',
 'S',
 'K',
 'E',
 'E',
 'F',
 'F',
 'V',
 'I',
 'M',
 'R',
 'E',
 'E',
 'Z',
 'N',
 'E',
 'V',
 'Y',
 'Y',
 'S',
 'H',
 'B',
 'Q',
 'K',
 'Y',
 'A',
 'T',
 'I',
 'M',
 'E',
 'F',
 'I',
 'G',
 'O',
 'W',
 'O',
 'J',
 'J',
 'K',
 'A',
 'T',
 'S',
 'B',
 'T',
 'G',
 'E',
 'T',
 'D',
 'J',
 'R',
 'Y',
 'A',
 'W',
 'O',
 'F',
 'S',
 'W',
 'C',
 'V',
 'B',
 'J',
 'O',
 'G',
 'G',
 'T',
 'O',
 'E',
 'S',
 'B',
 'L',
 'G',
 'J',
 'I',
 'F',
 'Q',
 'F',
 'N',
 'T',
 'Q',
 'O',
 'O',
 'L',
 'M',
 'L',
 'A',
 'H',
 'G',
 'E',
 'Z',
 'E',
 'V',
 'E',
 'T',
 'N',
 'K',
 'T',
 'Z',
 'M',
 'D',
 'O',
 'S',
 'P',
 'Z',
 'A',
 'K',
 'Q',
 'H',
 'U',
 'H',
 'K',
 'L',
 'B',
 'I',
 'M',
 'Q',
 'U',
 'X',
 'R',
 'T',
 'C',
 'L',
 'U',
 'X',
 'Y',
 'R',
 'O',
 'C',
 'F',
 'U',
 'E',
 'C',
 'X',
 'K',
 'A',
 'U',
 'J',
 'H',
 'U',
 'F',
 'Q',
 'I',
 'V',
 'A',
 'Z',
 'J',
 'A',
 'E',
 'E',
 'I',
 'V',
 'I',
 'L',
 'H',
 'G',
 'T',
 'D',
 'A',
 'O',
 'M',
 'P',
 'K',
 'E',
 'Q',
 'H',
 'B',
 'P',
 'T',
 'V',
 'K',
 'X',
 'Y',
 'A',
 'O',
 'X',
 'L',
 'M',
 'L',
 'F',
 'S',
 'D',
 'N',
 'E',
 'H',
 'P',
 'N',
 'F',
 'V',
 'M',
 'P',
 'R',
 'H',
 'S',
 'J',
 'C',
 'F',
 'O',
 'R',
 'D',
 'L',
 'D',
 'D',
 'I',
 'D',
 'J',
 'X',
 'L',
 'Q',
 'C',
 'P',
 'X',
 'C',
 'Z',
 'V',
 'V',
 'P',
 'O',
 'C',
 'N',
 'F',
 'V',
 'Q',
 'V',
 'C',
 'A',
 'V',
 'Q',
 'L',
 'B',
 'I',
 'K',
 'C',
 'C',
 'P',
 'P',
 'N',
 'E',
 'J',
 'L',
 'B',
 'S',
 'R',
 'T',
 'H',
 'Y',
 'H',
 'G',
 'W',
 'I',
 'D',
 'S',
 'Y',
 'K',
 'C',
 'N',
 'O',
 'Y',
 'I',
 'K',
 'M',
 'T',
 'G',
 'W',
 'D',
 'M',
 'Y',
 'Q',
 'M',
 'R',
 'F',
 'L',
 'K',
 'Y',
 'E',
 'N',
 'M',
 'F',
 'G',
 'G',
 'D',
 'C',
 'N',
 'V',
 'F',
 'A',
 ...]

In [71]:
data

array([[-0.01289381,  1.629349  ,  0.19742627, -0.45357196],
       [ 0.81202469, -0.86857977, -3.01974569,  0.76283521],
       [ 0.40017911, -0.41319575,  0.3330669 , -0.08037323],
       ...,
       [-1.76081295,  0.98107194, -0.03870414,  0.52049006],
       [-0.3993499 , -0.08978031, -0.41347594, -1.4927887 ],
       [ 0.26697869, -0.34198528, -0.25703323,  0.89534462]])

In [72]:
ex6['key'] = key

In [75]:
ex6.to_csv('examples/ex6.csv',header=True,index=False)

In [76]:
result = pd.read_csv('examples/ex6.csv')

In [77]:
result

           one       two     three      four key
0    -0.012894  1.629349  0.197426 -0.453572   V
1     0.812025 -0.868580 -3.019746  0.762835   M
2     0.400179 -0.413196  0.333067 -0.080373   T
3     0.606644 -0.301672 -1.392047  0.583182   Q
4    -0.123172  0.133601  0.130493  1.100686   V
5    -0.603873  0.469950  1.248726  0.582279   Y
6    -0.281283  0.753223 -0.402113  0.414953   M
7     0.549251 -0.382449  1.178748 -1.979669   N
8    -1.646155  0.519362 -0.930179 -2.049908   Z
9    -0.123112  0.206616 -0.222065  1.293704   A
10    0.032023 -0.567004  0.372964  1.013570   M
11    0.826979 -1.778039 -0.975053  0.792136   F
12   -0.003770 -0.496346  1.962516  1.224728   I
13   -0.492456 -0.028123 -1.408941  1.293925   H
14   -1.327889 -1.242199  1.290662  0.133040   E
15    0.235137  1.018188  0.310884 -0.992820   E
16   -0.342637 -2.252560 -0.591797 -0.399984   H
17   -0.381930 -0.368164  0.025019 -1.015233   L
18    2.158145  0.873234 -0.258656 -0.601598   L
19    1.305863  0.135996 -1.779428  1.701166   U
20    0.215268  0.358507 -1.743525  0.813024   U
21   -2.170203 -0.742734 -0.262638  0.038062   U
22    0.962036  0.432370 -0.379912  0.199172   O
23    1.717295 -0.186900 -0.862472 -0.514665   J
24    0.922364  0.364755  0.412811 -0.829306   B
25   -0.298121  0.403566  0.539768  1.332797   P
26    0.819526  0.796840 -0.019655  1.117738   Q
27   -0.194791  0.996866 -1.223675 -0.581495   N
28   -1.974821 -0.453128  2.043815  1.550594   X
29   -0.288994 -1.892347  0.709670 -0.188457   F
...        ...       ...       ...       ...  ..
9970  0.344166 -0.587839 -0.045719 -1.074098   S
9971 -0.033163 -1.141335 -0.182231 -0.090423   T
9972 -0.857267  0.080661  1.107977  1.208511   B
9973 -0.398101  0.104804  0.386764 -0.737018   Y
9974  1.203978 -0.457440  1.748809 -1.091051   K
9975 -1.138568  0.540654 -1.071750  0.612080   R
9976 -1.237319  0.033945 -0.603744  0.228129   P
9977 -0.871077  0.898290 -0.630614 -0.208253   H
9978 -1.767069 -0.169771 -1.010387 -0.907337   N
9979  0.968711 -1.729782  1.165624  0.589878   W
9980  0.248412  0.475665  0.536054 -2.164706   S
9981  0.243907 -1.502405  0.244401  0.353629   F
9982 -1.253222  1.136070 -1.463256  1.176839   Q
9983  0.435916 -2.241411 -0.011115  1.801685   S
9984  0.731219  0.321306 -1.614679 -0.229357   V
9985 -0.873710  1.890620 -0.063711 -1.339948   E
9986 -0.805135  0.867889  1.039107 -1.080347   C
9987  0.743350  0.205980  0.339250  0.478722   F
9988  0.027397  0.984647 -0.796543 -0.626546   A
9989 -0.930272 -2.499178  1.362271 -0.086366   B
9990  0.717834 -2.248284  0.752411  1.060644   G
9991  1.194375 -0.377327 -0.552813  0.554743   Z
9992 -0.575301  0.980429  1.517900  0.933533   X
9993 -1.352885 -0.031601 -0.021974  0.401085   I
9994 -1.684611 -0.659459  1.396720 -0.479808   B
9995  2.395403 -0.315066 -0.569694  0.500617   P
9996  2.263735 -0.995519 -0.949883  0.036626   R
9997 -1.760813  0.981072 -0.038704  0.520490   W
9998 -0.399350 -0.089780 -0.413476 -1.492789   F
9999  0.266979 -0.341985 -0.257033  0.895345   H

[10000 rows x 5 columns]

In [78]:
pd.options.display.max_rows = 10

In [79]:
result

           one       two     three      four key
0    -0.012894  1.629349  0.197426 -0.453572   V
1     0.812025 -0.868580 -3.019746  0.762835   M
2     0.400179 -0.413196  0.333067 -0.080373   T
3     0.606644 -0.301672 -1.392047  0.583182   Q
4    -0.123172  0.133601  0.130493  1.100686   V
...        ...       ...       ...       ...  ..
9995  2.395403 -0.315066 -0.569694  0.500617   P
9996  2.263735 -0.995519 -0.949883  0.036626   R
9997 -1.760813  0.981072 -0.038704  0.520490   W
9998 -0.399350 -0.089780 -0.413476 -1.492789   F
9999  0.266979 -0.341985 -0.257033  0.895345   H

[10000 rows x 5 columns]

In [80]:
result = pd.read_csv('examples/ex6.csv',nrows=5)

In [81]:
result

        one       two     three      four key
0 -0.012894  1.629349  0.197426 -0.453572   V
1  0.812025 -0.868580 -3.019746  0.762835   M
2  0.400179 -0.413196  0.333067 -0.080373   T
3  0.606644 -0.301672 -1.392047  0.583182   Q
4 -0.123172  0.133601  0.130493  1.100686   V

In [82]:
chunker = pd.read_csv('examples/ex6.csv',chunksize=1000)

In [83]:
chunker

In [84]:
tot = pd.Series([])

In [85]:
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(),fill_value=0)

In [86]:
tot

A    402.0
B    333.0
C    458.0
D    374.0
E    399.0
     ...
V    385.0
W    363.0
X    364.0
Y    385.0
Z    373.0
Length: 26, dtype: float64

In [88]:
tot[:10]

A    402.0
B    333.0
C    458.0
D    374.0
E    399.0
F    378.0
G    382.0
H    376.0
I    407.0
J    390.0
dtype: float64

In [89]:
data = pd.read_csv('examples/ex5.csv')

In [90]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [91]:
data.to_csv('examples/out.csv')

In [93]:
data.to_csv('examples/out.csv',na_rep='NULL')

In [94]:
data.to_csv('examples/out.csv',index=False,header=False)

In [96]:
data.to_csv('examples/out.csv',index=False,columns=['a','b','c'])

In [97]:
datas = pd.date_range('2019/1/1',periods=7)

In [98]:
datas

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')

In [99]:
ts = pd.Series(np.arange(7),index=datas)

In [100]:
ts

2019-01-01    0
2019-01-02    1
2019-01-03    2
2019-01-04    3
2019-01-05    4
2019-01-06    5
2019-01-07    6
Freq: D, dtype: int32

In [101]:
ts.to_csv('examples/tseries.csv')

In [102]:
import csv

In [106]:
f = open('examples/ex7.csv')
reader = csv.reader(f)

In [107]:
reader

In [108]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [109]:
f.close()

In [110]:
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))

In [111]:

header,values = lines[0],lines[1:]

In [112]:
values

[['1', '2', '3'], ['1', '2', '3']]

In [113]:
header

['a', 'b', 'c']

In [114]:
data_dict = {h: v for h, v in zip(header, zip(*values))}

In [115]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [116]:
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [117]:
obj

'\n{"name": "Wes",\n"places_lived": ["United States", "Spain", "Germany"],\n"pet": null,\n"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},\n{"name": "Katie", "age": 38,\n"pets": ["Sixes", "Stache", "Cisco"]}]\n}\n'

In [118]:
import json

In [119]:
result = json.loads(obj)

In [120]:
result

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 30, 'name': 'Scott', 'pets': ['Zeus', 'Zuko']},
  {'age': 38, 'name': 'Katie', 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [121]:
asjson = json.dumps(result)

In [122]:
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [123]:
result['siblings']

[{'age': 30, 'name': 'Scott', 'pets': ['Zeus', 'Zuko']},
 {'age': 38, 'name': 'Katie', 'pets': ['Sixes', 'Stache', 'Cisco']}]

In [124]:
 siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])

In [125]:
siblings

    name  age
0  Scott   30
1  Katie   38

In [126]:
data = pd.read_json('examples/example.json')

In [127]:
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [128]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [129]:
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

In [130]:
data='''<INDICATOR>
<INDICATOR_SEQ>373889</INDICATOR_SEQ>
<PARENT_SEQ></PARENT_SEQ>
<AGENCY_NAME>Metro-North Railroad</AGENCY_NAME><INDICATOR_NAME>Escalator Availability</INDICATOR_NAME>
<DESCRIPTION>Percent of the time that escalators are operational
systemwide. The availability rate is based on physical observations
performed
the morning of regular business days only. This is a new indicator the
agency
began reporting in 2009.</DESCRIPTION>
<PERIOD_YEAR>2011</PERIOD_YEAR>
<PERIOD_MONTH>12</PERIOD_MONTH>
<CATEGORY>Service Indicators</CATEGORY>
<FREQUENCY>M</FREQUENCY>
<DESIRED_CHANGE>U</DESIRED_CHANGE>
<INDICATOR_UNIT>%</INDICATOR_UNIT>
<DECIMAL_PLACES>1</DECIMAL_PLACES>
<YTD_TARGET>97.00</YTD_TARGET>
<YTD_ACTUAL></YTD_ACTUAL>
<MONTHLY_TARGET>97.00</MONTHLY_TARGET>
<MONTHLY_ACTUAL></MONTHLY_ACTUAL>
</INDICATOR>'''

In [133]:
from lxml import objectify

In [136]:
with open('data.xml','w') as f:
    f.write(data)

In [137]:
parsed = objectify.parse(open('data.xml'))

In [138]:
parsed

In [139]:
root = parsed.getroot()

In [140]:
root

In [141]:
data = []

In [148]:
skip_field = ['PARENT_SEQ', 'INDICATOR_SEQ','DESIRED_CHANGE', 'DECIMAL_PLACES']

In [151]:
for elt in root:
    el_data ={}
    for child in elt.getchildren():
        if child.tag in skip_field:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [152]:
data

[{},
 {'AGENCY_NAME': 'Metro-North Railroad',
  'CATEGORY': 'Service Indicators',
  'DESCRIPTION': 'Percent of the time that escalators are operational\nsystemwide. The availability rate is based on physical observations\nperformed\nthe morning of regular business days only. This is a new indicator the\nagency\nbegan reporting in 2009.',
  'FREQUENCY': 'M',
  'INDICATOR_NAME': 'Escalator Availability',
  'INDICATOR_UNIT': '%',
  'MONTHLY_ACTUAL': '',
  'MONTHLY_TARGET': 97.0,
  'PERIOD_MONTH': 12,
  'PERIOD_YEAR': 2011,
  'YTD_ACTUAL': '',
  'YTD_TARGET': 97.0}]

In [153]:
pd.DataFrame(data)

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97.0,12.0,2011.0,,97.0

In [154]:
from io import StringIO

In [156]:
tag = '<a href="http://www.google.com">Google</a>'

In [157]:
root = objectify.parse(StringIO(tag)).getroot()

In [158]:
root

In [159]:
root.get('href')

'http://www.google.com'

In [160]:
root.text

'Google'

In [161]:
frame = pd.read_csv('examples/ex1.csv')

In [162]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [163]:
frame.to_pickle('examples/frame_pickle')

In [164]:
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [165]:
frame = pd.DataFrame({'a': np.random.randn(100)})

In [166]:
store = pd.HDFStore('mydata.h5')

In [167]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [168]:
store['obj1'] = frame

In [169]:
store['obj1_col'] = frame['a']

In [170]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [171]:
store['obj1']

           a
0  -0.987189
1  -0.286322
2   0.055033
3   0.529130
4   0.633111
..       ...
95  1.119424
96 -0.632820
97 -0.163527
98  1.797140
99 -1.609320

[100 rows x 1 columns]

In [172]:
store['obj1_col']

0    -0.987189
1    -0.286322
2     0.055033
3     0.529130
4     0.633111
        ...
95    1.119424
96   -0.632820
97   -0.163527
98    1.797140
99   -1.609320
Name: a, Length: 100, dtype: float64

In [173]:
store.put('obj2',frame,format='table')

In [175]:
store.select('obj2',where=['index >= 10 and index<= 15'])

           a
10  0.008723
11  1.101754
12  0.836069
13  0.231406
14 -0.351886
15 -1.356469

In [176]:
store.close()

In [177]:
s = pd.HDFStore('mydata.h5')

In [178]:
s

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [179]:
s['obj1']

           a
0  -0.987189
1  -0.286322
2   0.055033
3   0.529130
4   0.633111
..       ...
95  1.119424
96 -0.632820
97 -0.163527
98  1.797140
99 -1.609320

[100 rows x 1 columns]

In [180]:
s.close()

In [181]:
frame.to_hdf('mydata.h5','obj3',format='table')

In [183]:
pd.read_hdf('mydata.h5','obj3',where=['index < 5'])

          a
0 -0.987189
1 -0.286322
2  0.055033
3  0.529130
4  0.633111

In [184]:
x = pd.read_csv('examples/ex1.csv')

In [185]:
x.to_excel('examples/ex1.xlsx',index=False,header=True,sheet_name='a')

In [186]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')

In [187]:
xlsx

In [189]:
xlsx.book

In [190]:
pd.read_excel(xlsx,'a')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [192]:
frame = pd.read_excel('examples/ex1.xlsx', 'a')

In [193]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [194]:
writer = pd.ExcelWriter('examples/ex2.xlsx')

In [195]:
frame.to_excel(writer,'a')

In [196]:
writer.save()

In [197]:
frame.to_excel('examples/ex2.xlsx')

In [198]:
import requests

In [199]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [200]:
resp = requests.get(url)

In [201]:
resp

In [202]:
data = resp.json()

In [203]:
data

[{'assignee': None,
  'assignees': [],
  'author_association': 'MEMBER',
  'body': "We have several functions getting called inside a `with nogil:` block that aren't currently declared as `nogil`.  In the future cython should warn in this type of situation (cython#2879).",
  'closed_at': None,
  'comments': 2,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/25529/comments',
  'created_at': '2019-03-04T00:01:18Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/25529/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/25529',
  'id': 416583384,
  'labels': [],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/25529/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MjU3Nzc5Njk0',
  'number': 25529,
  'pull_request': {'diff_url': 'https://github.com/pandas-dev/pandas/pull/25529.diff',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/25529',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/25529.patch',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/25529'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'title': 'fix segfault when running with cython coverage enabled, xref cython#2879',
  'updated_at': '2019-03-04T00:40:07Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/25529',
  'user': {'avatar_url': 'https://avatars1.githubusercontent.com/u/8078968?v=4',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/jbrockmendel',
   'id': 8078968,
   'login': 'jbrockmendel',
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/jbrockmendel'}},
 {'assignee': None,
  'assignees': [],
  'author_association': 'NONE',
  'body': "-[x] fixes 5 small (subject verb agreement, articles, formatting, duplicate conjunction) typos in the doc's user_guide _indexing.rst_ file.\r\n",
  'closed_at': None,
  'comments': 2,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/25528/comments',
  'created_at': '2019-03-03T23:35:36Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/25528/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/25528',
  'id': 416580872,
  'labels': [],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/25528/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MjU3Nzc3OTQx',
  'number': 25528,
  'pull_request': {'diff_url': 'https://github.com/pandas-dev/pandas/pull/25528.diff',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/25528',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/25528.patch',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/25528'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'title': 'DOC: Polishing typos out of doc/source/user_guide/indexing.rst',
  'updated_at': '2019-03-04T00:13:14Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/25528',
  'user': {'avatar_url': 'https://avatars3.githubusercontent.com/u/10225972?v=4',
   'events_url': 'https://api.github.com/users/leerssej/events{/privacy}',
   'followers_url': 'https://api.github.com/users/leerssej/followers',
   'following_url': 'https://api.github.com/users/leerssej/following{/other_user}',
   'gists_url': 'https://api.github.com/users/leerssej/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/leerssej',
   'id': 10225972,
   'login': 'leerssej',
   'node_id': 'MDQ6VXNlcjEwMjI1OTcy',
   'organizations_url': 'https://api.github.com/users/leerssej/orgs',
   'received_events_url': 'https://api.github.com/users/leerssej/received_events',
   'repos_url': 'https://api.github.com/users/leerssej/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/leerssej/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/leerssej/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/leerssej'}},
 {'assignee': None,
  'assignees': [],
  'author_association': 'NONE',
  'body': '#### Code Sample, a copy-pastable example if possible\r\n\r\nThe first line is the problem, the others given for context.  My goal in the function this comes from is to remove non-modal ("atypical") items per `key`.  The task should, and does, allow multi-modal targets per group (there are other techniques to pick a unique, but arbitrary mode, but I want all of them).\r\n\r\n```python\r\n# Your code here\r\nmodes = pd.DataFrame(df.groupby(\'key\').value.agg(pd.Series.mode))\r\ndf.set_index(\'key\', inplace=True)\r\ndf = df.join(modes, rsuffix=\'_mode\')\r\ndf = df[df.apply(lambda row:row.value in row.value_mode, axis=1)]\r\n```\r\n\r\nThe below uses a DataFrame smaller than the one where the problem was encountered.  As discussed in a comment below, the precise sampling of the original data and the precise anonymization of groupby keys used has an unpredictable effect on the problem being accidentally fixed or continuing to occur.\r\n\r\n```python\r\n>>> import pandas as pd\r\n>>> import gzip\r\n>>> import pickle\r\n>>> df = pickle.load(gzip.open(\'modal-crash.pkl.gz\'))\r\n>>> modes = df.groupby(\'key\').value.agg(pd.Series.mode)\r\nTraceback (most recent call last):\r\n  File "<ipython-input-13-4fe1f0dd3977>", line 1, in <module>\r\n    modes = df.groupby(\'key\').value.agg(pd.Series.mode)\r\n  File "/anaconda3/envs/boldmetrics-analysis/lib/python3.7/site-packages/pandas/core/groupby/generic.py", line 778, in aggregate\r\n    result = self._aggregate_named(func_or_funcs, *args, **kwargs)\r\n  File "/anaconda3/envs/boldmetrics-analysis/lib/python3.7/site-packages/pandas/core/groupby/generic.py", line 909, in _aggregate_named\r\n    raise Exception(\'Must produce aggregated value\')\r\nException: Must produce aggregated value\r\n\r\n```\r\n\r\n[modal-crash.pkl.gz](https://github.com/pandas-dev/pandas/files/2923871/modal-crash.pkl.gz)\r\n\r\n#### Problem description\r\n\r\nIn a manner sensitive to the exact data, but not following any obvious pattern I have discerned, the `modes = ...` line can produce 3-4 levels of nested exceptions leading to `Exception: Must produce aggregated value`.\r\n\r\nI have checked the "problem" data to make sure there are no missing values in `df.value`.  All values are present and are an expected (string) value.  This particular task has to do with a target that is a clothing size.  E.g. when run correctly, `modes` will resemble this:\r\n\r\n```\r\n             value\r\nkey\r\nddhhmttmvv   [L, M]\r\ndfdavpqthh      [S]\r\nddfadjqqhd      [M]\r\nddvjmatfvm      [M]\r\n... 160k more rows ...\r\n```\r\n\r\nThe code succeeds for **most** initial DataFrames.  In fact, adding `df = df.iloc[:-1]` or `df = df.iloc[1:]` makes the operation succeed for every "problem" DataFrame I have encountered.\r\n\r\nI have identified a hack/fix to the problem, but it\'s ad hoc and ugly:\r\n\r\n```python\r\ndef mode(s):\r\n    return list(pd.Series.mode(s))\r\nmodes = pd.DataFrame(df.groupby(\'key\').value.agg(mode))\r\n```\r\n\r\n#### Expected Output\r\n\r\nExpected output shown in the problem description.  The DataFrame generated after the filtering is just a subset of rows in the original, but the problem only occurs in finding the mode per group.\r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\n% python -c "import pandas; pandas.show_versions()"\r\n/anaconda3/envs/boldmetrics-analysis/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.\r\n  """)\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit: None\r\npython: 3.7.1.final.0\r\npython-bits: 64\r\nOS: Darwin\r\nOS-release: 18.2.0\r\nmachine: x86_64\r\nprocessor: i386\r\nbyteorder: little\r\nLC_ALL: None\r\nLANG: en_US.UTF-8\r\nLOCALE: en_US.UTF-8\r\n\r\npandas: 0.24.1\r\npytest: None\r\npip: 19.0.3\r\nsetuptools: 40.8.0\r\nCython: 0.29.5\r\nnumpy: 1.16.1\r\nscipy: 1.2.1\r\npyarrow: None\r\nxarray: None\r\nIPython: 7.3.0\r\nsphinx: 1.8.4\r\npatsy: 0.5.1\r\ndateutil: 2.8.0\r\npytz: 2018.9\r\nblosc: None\r\nbottleneck: None\r\ntables: None\r\nnumexpr: 2.6.9\r\nfeather: None\r\nmatplotlib: 3.0.2\r\nopenpyxl: None\r\nxlrd: None\r\nxlwt: None\r\nxlsxwriter: None\r\nlxml.etree: 4.3.1\r\nbs4: None\r\nhtml5lib: None\r\nsqlalchemy: 1.2.18\r\npymysql: None\r\npsycopg2: 2.7.7 (dt dec pq3 ext lo64)\r\njinja2: 2.10\r\ns3fs: None\r\nfastparquet: None\r\npandas_gbq: None\r\npandas_datareader: None\r\ngcsfs: None\r\n</details>\r\n',
  'closed_at': None,
  'comments': 4,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/25527/comments',
  'created_at': '2019-03-03T20:46:17Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/25527/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/25527',
  'id': 416562167,
  'labels': [{'color': '207de5',
    'default': False,
    'id': 307649777,
    'name': 'Needs Info',
    'node_id': 'MDU6TGFiZWwzMDc2NDk3Nzc=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Info'}],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/25527/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'MDU6SXNzdWU0MTY1NjIxNjc=',
  'number': 25527,
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'title': 'Data dependent bug in mode aggregation',
  'updated_at': '2019-03-04T00:26:27Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/25527',
  'user': {'avatar_url': 'https://avatars2.githubusercontent.com/u/2380665?v=4',
   'events_url': 'https://api.github.com/users/DavidMertz/events{/privacy}',
   'followers_url': 'https://api.github.com/users/DavidMertz/followers',
   'following_url': 'https://api.github.com/users/DavidMertz/following{/other_user}',
   'gists_url': 'https://api.github.com/users/DavidMertz/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/DavidMertz',
   'id': 2380665,
   'login': 'DavidMertz',
   'node_id': 'MDQ6VXNlcjIzODA2NjU=',
   'organizations_url': 'https://api.github.com/users/DavidMertz/orgs',
   'received_events_url': 'https://api.github.com/users/DavidMertz/received_events',
   'repos_url': 'https://api.github.com/users/DavidMertz/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/DavidMertz/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/DavidMertz/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/DavidMertz'}},
 {'assignee': None,
  'assignees': [],
  'author_association': 'CONTRIBUTOR',
  'body': '[ci skip]\r\n\r\nDatetimeArray was listed twice. PeriodArray was missed.',
  'closed_at': None,
  'comments': 2,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/25526/comments',
  'created_at': '2019-03-03T20:14:11Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/25526/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/25526',
  'id': 416558488,
  'labels': [{'color': '3465A4',
    'default': False,
    'id': 134699,
    'name': 'Docs',
    'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs'}],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/25526/labels{/name}',
  'locked': False,
  'milestone': {'closed_at': None,
   'closed_issues': 215,
   'created_at': '2018-10-23T02:34:15Z',
   'creator': {'avatar_url': 'https://avatars2.githubusercontent.com/u/953992?v=4',
    'events_url': 'https://api.github.com/users/jreback/events{/privacy}',
    'followers_url': 'https://api.github.com/users/jreback/followers',
    'following_url': 'https://api.github.com/users/jreback/following{/other_user}',
    'gists_url': 'https://api.github.com/users/jreback/gists{/gist_id}',
    'gravatar_id': '',
    'html_url': 'https://github.com/jreback',
    'id': 953992,
    'login': 'jreback',
    'node_id': 'MDQ6VXNlcjk1Mzk5Mg==',
    'organizations_url': 'https://api.github.com/users/jreback/orgs',
    'received_events_url': 'https://api.github.com/users/jreback/received_events',
    'repos_url': 'https://api.github.com/users/jreback/repos',
    'site_admin': False,
    'starred_url': 'https://api.github.com/users/jreback/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/jreback/subscriptions',
    'type': 'User',
    'url': 'https://api.github.com/users/jreback'},
   'description': '',
   'due_on': '2019-05-01T07:00:00Z',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/61',
   'id': 3759483,
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/61/labels',
   'node_id': 'MDk6TWlsZXN0b25lMzc1OTQ4Mw==',
   'number': 61,
   'open_issues': 97,
   'state': 'open',
   'title': '0.25.0',
   'updated_at': '2019-03-03T20:30:19Z',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/61'},
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MjU3NzYzOTEy',
  'number': 25526,
  'pull_request': {'diff_url': 'https://github.com/pandas-dev/pandas/pull/25526.diff',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/25526',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/25526.patch',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/25526'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'title': 'DOC: Fixed PeriodArray api ref',
  'updated_at': '2019-03-03T21:07:54Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/25526',
  'user': {'avatar_url': 'https://avatars3.githubusercontent.com/u/1312546?v=4',
   'events_url': 'https://api.github.com/users/TomAugspurger/events{/privacy}',
   'followers_url': 'https://api.github.com/users/TomAugspurger/followers',
   'following_url': 'https://api.github.com/users/TomAugspurger/following{/other_user}',
   'gists_url': 'https://api.github.com/users/TomAugspurger/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/TomAugspurger',
   'id': 1312546,
   'login': 'TomAugspurger',
   'node_id': 'MDQ6VXNlcjEzMTI1NDY=',
   'organizations_url': 'https://api.github.com/users/TomAugspurger/orgs',
   'received_events_url': 'https://api.github.com/users/TomAugspurger/received_events',
   'repos_url': 'https://api.github.com/users/TomAugspurger/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/TomAugspurger/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/TomAugspurger/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/TomAugspurger'}},
 {'assignee': None,
  'assignees': [],
  'author_association': 'NONE',
  'body': '- [X] closes #25172 \r\n- [X] tests added / passed\r\n- [X] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n- [ ] whatsnew entry\r\n\r\nOriginal number of errors: 95\r\nRemaining errors: 0\r\n',
  'closed_at': None,
  'comments': 5,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/25525/comments',
  'created_at': '2019-03-03T18:24:01Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/25525/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/25525',
  'id': 416546516,
  'labels': [{'color': '3465A4',
    'default': False,
    'id': 134699,
    'name': 'Docs',
    'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs'}],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/25525/labels{/name}',
  'locked': False,
  'milestone': {'closed_at': None,
   'closed_issues': 215,
   'created_at': '2018-10-23T02:34:15Z',
   'creator': {'avatar_url': 'https://avatars2.githubusercontent.com/u/953992?v=4',
    'events_url': 'https://api.github.com/users/jreback/events{/privacy}',
    'followers_url': 'https://api.github.com/users/jreback/followers',
    'following_url': 'https://api.github.com/users/jreback/following{/other_user}',
    'gists_url': 'https://api.github.com/users/jreback/gists{/gist_id}',
    'gravatar_id': '',
    'html_url': 'https://github.com/jreback',
    'id': 953992,
    'login': 'jreback',
    'node_id': 'MDQ6VXNlcjk1Mzk5Mg==',
    'organizations_url': 'https://api.github.com/users/jreback/orgs',
    'received_events_url': 'https://api.github.com/users/jreback/received_events',
    'repos_url': 'https://api.github.com/users/jreback/repos',
    'site_admin': False,
    'starred_url': 'https://api.github.com/users/jreback/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/jreback/subscriptions',
    'type': 'User',
    'url': 'https://api.github.com/users/jreback'},
   'description': '',
   'due_on': '2019-05-01T07:00:00Z',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/61',
   'id': 3759483,
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/61/labels',
   'node_id': 'MDk6TWlsZXN0b25lMzc1OTQ4Mw==',
   'number': 61,
   'open_issues': 97,
   'state': 'open',
   'title': '0.25.0',
   'updated_at': '2019-03-03T20:30:19Z',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/61'},
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MjU3NzU2MTEx',
  'number': 25525,
  'pull_request': {'diff_url': 'https://github.com/pandas-dev/pandas/pull/25525.diff',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/25525',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/25525.patch',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/25525'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'title': 'DOC: resolve all GL03 docstring validation errors',
  'updated_at': '2019-03-03T21:15:12Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/25525',
  'user': {'avatar_url': 'https://avatars3.githubusercontent.com/u/4970459?v=4',
   'events_url': 'https://api.github.com/users/jamescobonkerr/events{/privacy}',
   'followers_url': 'https://api.github.com/users/jamescobonkerr/followers',
   'following_url': 'https://api.github.com/users/jamescobonkerr/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jamescobonkerr/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/jamescobonkerr',
   'id': 4970459,
   'login': 'jamescobonkerr',
   'node_id': 'MDQ6VXNlcjQ5NzA0NTk=',
   'organizations_url': 'https://api.github.com/users/jamescobonkerr/orgs',
   'received_events_url': 'https://api.github.com/users/jamescobonkerr/received_events',
   'repos_url': 'https://api.github.com/users/jamescobonkerr/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/jamescobonkerr/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jamescobonkerr/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/jamescobonkerr'}},
 {'assignee': None,
  'assignees': [],

In [205]:
data[0]['title']

'fix segfault when running with cython coverage enabled, xref cython#2879'

In [207]:
pd.DataFrame(data, columns=['number', 'title','labels', 'state'])

,number,title,labels,state
0,25529,fix segfault when running with cython coverage...,[],open
1,25528,DOC: Polishing typos out of doc/source/user_gu...,[],open
2,25527,Data dependent bug in mode aggregation,"[{'id': 307649777, 'node_id': 'MDU6TGFiZWwzMDc...",open
3,25526,DOC: Fixed PeriodArray api ref,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
4,25525,DOC: resolve all GL03 docstring validation errors,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
...,...,...,...,...
25,25488,Fix JSON orient='table' issues with numeric co...,"[{'id': 49379259, 'node_id': 'MDU6TGFiZWw0OTM3...",open
26,25484,BUG: User-facing AssertionError with add colum...,"[{'id': 42670965, 'node_id': 'MDU6TGFiZWw0MjY3...",open
27,25481,BUG: confusing error message for DataFrame.plot(),"[{'id': 42670965, 'node_id': 'MDU6TGFiZWw0MjY3...",open
28,25476,value_counts() counting wrong categories,[],open
29,25475,New Feature Request: df.style.hide_index() to ...,"[{'id': 195647922, 'node_id': 'MDU6TGFiZWwxOTU...",open

In [208]:
import sqlite3

In [209]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
c REAL, d INTEGER
);"""

In [210]:
con = sqlite3.connect('mydata.sqlite')

In [211]:
con.execute(query)

In [212]:
con.commit()

In [213]:
data = [('Atlanta', 'Georgia', 1.25, 6),
('Tallahassee', 'Florida', 2.6, 3),
('Sacramento', 'California', 1.7, 5)]

In [214]:
stmt = "INSERT INTO TEST VALUES (?,?,?,?)"

In [215]:
con.executemany(stmt,data)

In [216]:
con.commit()

In [217]:
 cursor = con.execute('select * from test')

In [218]:
rows = cursor.fetchall()

In [219]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [220]:
 cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [221]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [222]:
import sqlalchemy as sqla

In [223]:
db = sqla.create_engine('sqlite:///mydata.sqlite')

In [224]:
pd.read_sql('select * from test',db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5