In [168]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [263]:
data = pd.read_csv('datasets/CDNOW.txt',header=None,sep=r'\s+',names=['user_id','buy_date','count','price'])
data['buy_date'] = pd.to_datetime(data['buy_date'].astype(str))
data.set_index('buy_date',inplace=True)

In [264]:
data.shape

(69659, 3)

In [265]:
data.head()

            user_id  count  price
buy_date
1997-01-01        1      1  11.77
1997-01-12        2      1  12.00
1997-01-12        2      5  77.00
1997-01-02        3      2  20.76
1997-03-30        3      2  20.76

In [266]:
data['single_price'] = data['price']/data['count']
data_desc = data[['count','single_price']].describe()

In [267]:
data_desc

              count  single_price
count  69659.000000  69659.000000
mean       2.410040     15.459447
std        2.333924      8.735528
min        1.000000      0.000000
25%        1.000000     12.270000
50%        2.000000     13.990000
75%        3.000000     15.490000
max       99.000000    305.990000

In [268]:
single_price_lower= data_desc.single_price['mean'] - 1.96 * data_desc.single_price['std']
single_price_lower = single_price_lower if single_price_lower>0 else 0
single_price_upper = data_desc.single_price['mean'] + 1.96 * data_desc.single_price['std']

In [269]:
single_price_upper,single_price_lower

(32.58108178364721, 0)

In [271]:
a = data[data.single_price < single_price_upper]
a = a[a.single_price>single_price_lower]
data = a
data.shape

(67663, 4)

In [272]:
fig,ax = plt.subplots(2,1,)

In [274]:
data.groupby('buy_date')['single_price'].mean().plot(ax=ax[0])

In [275]:
data.groupby('buy_date')['count'].sum().plot(ax=ax[1])

In [276]:
uGp = data.groupby('user_id')

In [277]:
item_count = uGp['count'].agg(['sum','max']).sort_values(by='sum',ascending=False)
item_count['count_cum'] = item_count['sum'].cumsum()/item_count['sum'].sum()
item_count['max_rate'] = item_count['max']/item_count['sum']

In [278]:
item_count[:item_count.count_cum.values.searchsorted(0.5)]

          sum  max  count_cum  max_rate
user_id
14048    1033   15   0.006260  0.014521
7592      897   47   0.011696  0.052397
7983      536   23   0.014944  0.042910
7931      512   21   0.018046  0.041016
19339     368   24   0.020276  0.065217
22279     330   63   0.022276  0.190909
499       326   21   0.024252  0.064417
6569      315   18   0.026160  0.057143
3049      300   17   0.027978  0.056667
16517     298   18   0.029784  0.060403
13167     292   21   0.031554  0.071918
12367     263    8   0.033147  0.030418
22061     263   13   0.034741  0.049430
2664      251   24   0.036262  0.095618
20917     221   10   0.037602  0.045249
21950     204   14   0.038838  0.068627
22348     195   24   0.040019  0.123077
2908      187   14   0.041153  0.074866
586       183   15   0.042262  0.081967
16175     182   29   0.043364  0.159341
21739     179   18   0.044449  0.100559
313       174   30   0.045504  0.172414
3901      174    8   0.046558  0.045977
19597     173    6   0.047606  0.034682
22492     169   22   0.048630  0.130178
17337     164   32   0.049624  0.195122
21694     163   11   0.050612  0.067485
15162     161   13   0.051588  0.080745
8250      160   20   0.052557  0.125000
1077      158   12   0.053515  0.075949
...       ...  ...        ...       ...
15249      17    9   0.497000  0.529412
20763      17    9   0.497103  0.529412
2999       17    3   0.497206  0.176471
2998       17    4   0.497309  0.235294
7600       17    5   0.497412  0.294118
12816      17    9   0.497515  0.529412
82         17    3   0.497618  0.176471
2044       17    3   0.497721  0.176471
20831      17    4   0.497825  0.235294
17988      17    4   0.497928  0.235294
13194      17    6   0.498031  0.352941
15578      17    7   0.498134  0.411765
17834      17    4   0.498237  0.235294
12050      17    4   0.498340  0.235294
4628       17    3   0.498443  0.176471
18056      17    4   0.498546  0.235294
10951      17    3   0.498649  0.176471
16712      17    5   0.498752  0.294118
6764       17    4   0.498855  0.235294
16863      17    3   0.498958  0.176471
14394      17    9   0.499061  0.529412
776        17    3   0.499164  0.176471
14319      17    6   0.499267  0.352941
10856      17    6   0.499370  0.352941
11559      17    6   0.499473  0.352941
3163       17    2   0.499576  0.117647
19462      17    7   0.499679  0.411765
23096      17    6   0.499782  0.352941
6693       17    6   0.499885  0.352941
13902      17    6   0.499988  0.352941

[2253 rows x 4 columns]

In [283]:
item_price = uGp['price'].agg(['sum','max']).sort_values(by='sum',ascending=False)
item_price['count_cum'] = item_price['sum'].cumsum()/item_price['sum'].sum()
item_price['max_rate'] = item_price['max']/item_price['sum']

In [282]:
item_price

                 sum        max  count_cum  max_rate
user_id
7592     2807.560218  31.490000   0.002872  0.011216
22061    2031.690194  27.770000   0.004950  0.013668
7983     1967.169465  31.490000   0.006962  0.016008
14048    1755.943571  22.770000   0.008759  0.012967
3049     1629.307662  23.770000   0.010425  0.014589
499      1481.366972  31.990000   0.011941  0.021595
19597    1473.090000  22.990000   0.013448  0.015607
7145     1380.534167  29.770000   0.014860  0.021564
2484     1118.471333  31.490000   0.016004  0.028154
710       982.505444  31.490000   0.017009  0.032051
4459      959.088333  31.990000   0.017990  0.033355
10079     914.010667  27.770000   0.018925  0.030383
19339     888.274276  30.853333   0.019834  0.034734
1077      885.080000  32.243333   0.020739  0.036430
12367     874.296762  24.365000   0.021633  0.027868
7931      770.529093  18.472857   0.022421  0.023974
8035      764.742730  29.990000   0.023204  0.039216
6057      749.110833  32.370000   0.023970  0.043211
17104     744.763333  31.490000   0.024732  0.042282
1722      701.413333  29.990000   0.025449  0.042757
13167     688.158495  21.490000   0.026153  0.031228
1980      673.833333  31.990000   0.026843  0.047475
12476     673.727500  28.490000   0.027532  0.042287
20917     666.926381  22.490000   0.028214  0.033722
22013     664.455952  29.990000   0.028894  0.045135
20873     653.467810  17.490000   0.029562  0.026765
1760      645.090500  21.490000   0.030222  0.033313
15562     638.688833  28.300000   0.030875  0.044310
5868      627.893333  32.490000   0.031518  0.051744
6569      603.668579  26.927500   0.032135  0.044606
...              ...        ...        ...       ...
9593        4.790000   4.790000   0.999876  1.000000
6665        4.790000   4.790000   0.999881  1.000000
18566       4.790000   4.790000   0.999886  1.000000
15617       4.790000   4.790000   0.999891  1.000000
22936       4.790000   4.790000   0.999896  1.000000
15261       4.790000   4.790000   0.999900  1.000000
5453        4.656667   4.656667   0.999905  1.000000
16291       4.523333   4.523333   0.999910  1.000000
13424       4.390000   4.390000   0.999914  1.000000
20466       3.990000   3.990000   0.999918  1.000000
16115       3.990000   3.990000   0.999922  1.000000
10669       3.990000   3.990000   0.999927  1.000000
2344        3.990000   3.990000   0.999931  1.000000
3477        3.990000   3.990000   0.999935  1.000000
11442       3.990000   3.990000   0.999939  1.000000
1770        3.990000   3.990000   0.999943  1.000000
6075        3.990000   3.990000   0.999947  1.000000
14202       3.990000   3.990000   0.999951  1.000000
17312       3.990000   3.990000   0.999955  1.000000
3029        3.990000   3.990000   0.999959  1.000000
12682       3.990000   3.990000   0.999963  1.000000
4077        3.990000   3.990000   0.999967  1.000000
16185       3.990000   3.990000   0.999971  1.000000
7282        3.990000   3.990000   0.999976  1.000000
17597       3.990000   3.990000   0.999980  1.000000
10147       3.990000   3.990000   0.999984  1.000000
12752       3.990000   3.990000   0.999988  1.000000
14306       3.990000   3.990000   0.999992  1.000000
5796        3.990000   3.990000   0.999996  1.000000
5383        3.990000   3.990000   1.000000  1.000000

[23082 rows x 4 columns]

In [287]:
uGp['count'].agg(['sum','max','min','count']).sort_values(by='sum',ascending=False)

          sum  max  min  count
user_id
14048    1033   15    1    217
7592      897   47    1    186
7983      536   23    1    149
7931      512   21    1     61
19339     368   24    1     53
22279     330   63    1     13
499       326   21    1    108
6569      315   18    1     40
3049      300   17    1    116
16517     298   18    1     34
13167     292   21    1     50
12367     263    8    1     60
22061     263   13    1    140
2664      251   24    1     29
20917     221   10    1     48
21950     204   14    1     27
22348     195   24    1     30
2908      187   14    2     31
586       183   15    1     32
16175     182   29    1     13
21739     179   18    3     21
313       174   30    2     20
3901      174    8    1     41
19597     173    6    1    108
22492     169   22    1     19
17337     164   32    1     11
21694     163   11    2     28
15162     161   13    1     26
8250      160   20    1     34
1077      158   12    1     48
...       ...  ...  ...    ...
8997        1    1    1      1
8996        1    1    1      1
8941        1    1    1      1
18037       1    1    1      1
8942        1    1    1      1
18067       1    1    1      1
18066       1    1    1      1
8947        1    1    1      1
18064       1    1    1      1
8949        1    1    1      1
8951        1    1    1      1
18060       1    1    1      1
18059       1    1    1      1
8952        1    1    1      1
8959        1    1    1      1
8961        1    1    1      1
8962        1    1    1      1
8963        1    1    1      1
18052       1    1    1      1
18051       1    1    1      1
8967        1    1    1      1
8968        1    1    1      1
18047       1    1    1      1
18044       1    1    1      1
8983        1    1    1      1
8987        1    1    1      1
18040       1    1    1      1
18039       1    1    1      1
8991        1    1    1      1
1           1    1    1      1

[23082 rows x 4 columns]

In [318]:
data.reset_index(inplace=True)

In [319]:
data.head()

   index   buy_date  user_id  count  price  single_price
0      0 1997-01-01        1      1  11.77         11.77
1      1 1997-01-12        2      1  12.00         12.00
2      2 1997-01-12        2      5  77.00         15.40
3      3 1997-01-02        3      2  20.76         10.38
4      4 1997-03-30        3      2  20.76         10.38

In [335]:
def mean_interval(gb):
    d = gb.sort_values()
    return (d - d.shift(1)).mean()

In [336]:
user_ts = uGp['buy_date'].agg(['min','max',mean_interval])

In [337]:
user_ts

               min        max           mean_interval
user_id
1       1997-01-01 1997-01-01                     NaT
2       1997-01-12 1997-01-12         0 days 00:00:00
3       1997-01-02 1998-05-28       102 days 04:48:00
4       1997-01-01 1997-12-12       115 days 00:00:00
5       1997-01-01 1998-01-03        36 days 16:48:00
6       1997-01-01 1997-01-01                     NaT
7       1997-01-01 1998-03-22       222 days 12:00:00
8       1997-01-01 1998-03-29 64 days 13:42:51.428571
9       1997-01-01 1998-06-08       261 days 12:00:00
10      1997-01-21 1997-01-21                     NaT
11      1997-01-01 1998-02-20       138 days 08:00:00
12      1997-01-01 1997-01-01                     NaT
13      1997-01-01 1997-01-01                     NaT
14      1997-01-01 1997-01-01                     NaT
15      1997-01-01 1997-01-01                     NaT
16      1997-01-01 1997-09-10        84 days 00:00:00
17      1997-01-01 1997-01-01                     NaT
18      1997-01-04 1997-01-04                     NaT
19      1997-01-01 1997-06-10       160 days 00:00:00
20      1997-01-01 1997-01-18        17 days 00:00:00
21      1997-01-01 1997-01-13        12 days 00:00:00
22      1997-01-01 1997-01-01                     NaT
23      1997-01-01 1997-01-01                     NaT
24      1997-01-01 1998-01-20       384 days 00:00:00
25      1997-01-01 1998-06-08 74 days 17:08:34.285714
26      1997-01-01 1997-01-26        25 days 00:00:00
27      1997-01-07 1997-01-12         5 days 00:00:00
28      1997-01-01 1997-03-08        33 days 00:00:00
29      1997-01-01 1998-04-26 43 days 15:16:21.818181
30      1997-01-01 1997-02-14        44 days 00:00:00
...            ...        ...                     ...
23541   1997-04-02 1997-04-02                     NaT
23542   1997-03-25 1997-03-25                     NaT
23543   1997-03-25 1997-03-25                     NaT
23544   1997-03-25 1998-01-24       152 days 12:00:00
23545   1997-03-25 1997-03-25                     NaT
23546   1997-03-25 1997-03-25                     NaT
23547   1997-03-25 1997-04-07        13 days 00:00:00
23548   1997-03-25 1997-03-25                     NaT
23549   1997-03-25 1997-03-25                     NaT
23550   1997-03-25 1997-03-25                     NaT
23551   1997-06-19 1997-09-11        21 days 00:00:00
23552   1997-03-25 1997-04-03         9 days 00:00:00
23553   1997-03-25 1997-03-28         3 days 00:00:00
23554   1997-03-25 1998-02-01       313 days 00:00:00
23555   1997-03-25 1998-06-10       110 days 12:00:00
23556   1997-03-25 1998-06-07        73 days 04:00:00
23557   1997-03-25 1997-03-25                     NaT
23558   1997-03-25 1998-02-25       112 days 08:00:00
23559   1997-03-25 1997-06-27        47 days 00:00:00
23560   1997-03-25 1997-03-25                     NaT
23561   1997-03-25 1998-05-29       215 days 00:00:00
23562   1997-03-25 1997-03-25                     NaT
23563   1997-03-25 1997-10-04       193 days 00:00:00
23564   1997-03-25 1997-11-30       125 days 00:00:00
23565   1997-03-25 1997-03-25                     NaT
23566   1997-03-25 1997-03-25                     NaT
23567   1997-03-25 1997-03-25                     NaT
23568   1997-03-25 1997-04-22        14 days 00:00:00
23569   1997-03-25 1997-03-25                     NaT
23570   1997-03-25 1997-03-26         1 days 00:00:00

[23082 rows x 3 columns]

In [338]:
from datetime import datetime,timedelta
user_ts['interval'] = (datetime.now() - user_ts['max']).apply(lambda x:x.days)

In [339]:
user_ts

               min        max           mean_interval  interval
user_id
1       1997-01-01 1997-01-01                     NaT      8112
2       1997-01-12 1997-01-12         0 days 00:00:00      8101
3       1997-01-02 1998-05-28       102 days 04:48:00      7600
4       1997-01-01 1997-12-12       115 days 00:00:00      7767
5       1997-01-01 1998-01-03        36 days 16:48:00      7745
6       1997-01-01 1997-01-01                     NaT      8112
7       1997-01-01 1998-03-22       222 days 12:00:00      7667
8       1997-01-01 1998-03-29 64 days 13:42:51.428571      7660
9       1997-01-01 1998-06-08       261 days 12:00:00      7589
10      1997-01-21 1997-01-21                     NaT      8092
11      1997-01-01 1998-02-20       138 days 08:00:00      7697
12      1997-01-01 1997-01-01                     NaT      8112
13      1997-01-01 1997-01-01                     NaT      8112
14      1997-01-01 1997-01-01                     NaT      8112
15      1997-01-01 1997-01-01                     NaT      8112
16      1997-01-01 1997-09-10        84 days 00:00:00      7860
17      1997-01-01 1997-01-01                     NaT      8112
18      1997-01-04 1997-01-04                     NaT      8109
19      1997-01-01 1997-06-10       160 days 00:00:00      7952
20      1997-01-01 1997-01-18        17 days 00:00:00      8095
21      1997-01-01 1997-01-13        12 days 00:00:00      8100
22      1997-01-01 1997-01-01                     NaT      8112
23      1997-01-01 1997-01-01                     NaT      8112
24      1997-01-01 1998-01-20       384 days 00:00:00      7728
25      1997-01-01 1998-06-08 74 days 17:08:34.285714      7589
26      1997-01-01 1997-01-26        25 days 00:00:00      8087
27      1997-01-07 1997-01-12         5 days 00:00:00      8101
28      1997-01-01 1997-03-08        33 days 00:00:00      8046
29      1997-01-01 1998-04-26 43 days 15:16:21.818181      7632
30      1997-01-01 1997-02-14        44 days 00:00:00      8068
...            ...        ...                     ...       ...
23541   1997-04-02 1997-04-02                     NaT      8021
23542   1997-03-25 1997-03-25                     NaT      8029
23543   1997-03-25 1997-03-25                     NaT      8029
23544   1997-03-25 1998-01-24       152 days 12:00:00      7724
23545   1997-03-25 1997-03-25                     NaT      8029
23546   1997-03-25 1997-03-25                     NaT      8029
23547   1997-03-25 1997-04-07        13 days 00:00:00      8016
23548   1997-03-25 1997-03-25                     NaT      8029
23549   1997-03-25 1997-03-25                     NaT      8029
23550   1997-03-25 1997-03-25                     NaT      8029
23551   1997-06-19 1997-09-11        21 days 00:00:00      7859
23552   1997-03-25 1997-04-03         9 days 00:00:00      8020
23553   1997-03-25 1997-03-28         3 days 00:00:00      8026
23554   1997-03-25 1998-02-01       313 days 00:00:00      7716
23555   1997-03-25 1998-06-10       110 days 12:00:00      7587
23556   1997-03-25 1998-06-07        73 days 04:00:00      7590
23557   1997-03-25 1997-03-25                     NaT      8029
23558   1997-03-25 1998-02-25       112 days 08:00:00      7692
23559   1997-03-25 1997-06-27        47 days 00:00:00      7935
23560   1997-03-25 1997-03-25                     NaT      8029
23561   1997-03-25 1998-05-29       215 days 00:00:00      7599
23562   1997-03-25 1997-03-25                     NaT      8029
23563   1997-03-25 1997-10-04       193 days 00:00:00      7836
23564   1997-03-25 1997-11-30       125 days 00:00:00      7779
23565   1997-03-25 1997-03-25                     NaT      8029
23566   1997-03-25 1997-03-25                     NaT      8029
23567   1997-03-25 1997-03-25                     NaT      8029
23568   1997-03-25 1997-04-22        14 days 00:00:00      8001
23569   1997-03-25 1997-03-25                     NaT      8029
23570   1997-03-25 1997-03-26         1 days 00:00:00      8028

[23082 rows x 4 columns]

In [346]:
def rebuy(t):
    x= t.sort_values()[:2]
    return x.values[1]-x.values[0] if len(x)==2 else None

In [347]:
first_rebuy = uGp['buy_date'].agg(rebuy)

In [348]:
first_rebuy

user_id
1            NaT
2         0 days
3        87 days
4        17 days
5        13 days
6            NaT
7       283 days
8        43 days
9       132 days
10           NaT
11       27 days
12           NaT
13           NaT
14           NaT
15           NaT
16      193 days
17           NaT
18           NaT
19      160 days
20       17 days
21       12 days
22           NaT
23           NaT
24      384 days
25      198 days
26       25 days
27        5 days
28       26 days
29       36 days
30       44 days
          ...
23541        NaT
23542        NaT
23543        NaT
23544    51 days
23545        NaT
23546        NaT
23547    13 days
23548        NaT
23549        NaT
23550        NaT
23551    50 days
23552     9 days
23553     3 days
23554   313 days
23555   214 days
23556    77 days
23557        NaT
23558    54 days
23559    54 days
23560        NaT
23561   309 days
23562        NaT
23563   193 days
23564    57 days
23565        NaT
23566        NaT
23567        NaT
23568    11 days
23569        NaT
23570     1 days
Name: buy_date, Length: 23082, dtype: timedelta64[ns]

In [349]:
first_rebuy.describe()

count                       11455
mean     109 days 04:59:03.745089
std      122 days 10:28:05.162491
min               0 days 00:00:00
25%              16 days 00:00:00
50%              55 days 00:00:00
75%             169 days 00:00:00
max             533 days 00:00:00
Name: buy_date, dtype: object

In [351]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67663 entries, 0 to 67662
Data columns (total 6 columns):
index           67663 non-null int64
buy_date        67663 non-null datetime64[ns]
user_id         67663 non-null int64
count           67663 non-null int64
price           67663 non-null float64
single_price    67663 non-null float64
dtypes: datetime64[ns](1), float64(2), int64(3)
memory usage: 3.1 MB

In [352]:
data.set_index('buy_date',inplace=True)

In [357]:
data.index.to_period('M')

PeriodIndex(['1997-01', '1997-01', '1997-01', '1997-01', '1997-03', '1997-04',
             '1997-11', '1997-11', '1998-05', '1997-01',
             ...
             '1997-11', '1997-03', '1997-03', '1997-03', '1997-03', '1997-04',
             '1997-04', '1997-03', '1997-03', '1997-03'],
            dtype='period[M]', name='buy_date', length=67663, freq='M')

In [360]:
mdata = data.to_period('M')

In [367]:
def rebuy_rate(m):
    t = m.value_counts()
    return t[t>1].shape[0]/t.shape[0]
rebuy_rates = mdata.groupby(['buy_date'])['user_id'].agg(rebuy_rate)

In [371]:
fig,ax = plt.subplots(1,1)
rebuy_rates.plot()

In [429]:
del mdata['one']

In [430]:
mdata.head()

          user_id  count  price  single_price
buy_date
1997-01         1      1  11.77         11.77
1997-01         2      1  12.00         12.00
1997-01         2      5  77.00         15.40
1997-01         3      2  20.76         10.38
1997-03         3      2  20.76         10.38

In [471]:
mdata.set_index('buy_date',inplace=True)
mdata['flag'] = 1
ndata = mdata.set_index(mdata.index - 1)

In [472]:
ndata = ndata.reset_index()

In [473]:
mdata = mdata.reset_index()

In [480]:
month_reserve_rate = pd.merge(mdata[['buy_date','user_id','flag']],ndata[['buy_date','user_id','flag']],on=['buy_date','user_id'],how='left').fillna(0).groupby('buy_date').agg(lambda g:g.flag_y.sum()/g.flag_x.sum())['user_id']

In [482]:
mdata.set_index('buy_date',inplace=True)

In [492]:
mdata.head()

          user_id  count  price  single_price
buy_date
1997-01         1      1  11.77         11.77
1997-01         2      1  12.00         12.00
1997-01         2      5  77.00         15.40
1997-01         3      2  20.76         10.38
1997-03         3      2  20.76         10.38

In [496]:
month_reserve_rate.plot()

In [497]:
mdata.sort_index(ascending=False)

          user_id  count   price  single_price
buy_date
1998-06      6804      2   27.48     13.740000
1998-06      5026      2   25.98     12.990000
1998-06      1556      2   28.48     14.240000
1998-06     21182      1   14.49     14.490000
1998-06       561      2   16.48      8.240000
1998-06       561      1   23.99     23.990000
1998-06     17314      2   22.98     11.490000
1998-06     15429      1   15.49     15.490000
1998-06     15429      1   17.99     17.990000
1998-06     22085      5   61.82     12.364000
1998-06      5034      3   89.97     29.990000
1998-06      1551      8  123.92     15.490000
1998-06      9993      2   37.48     18.740000
1998-06     22796      3   32.47     10.823333
1998-06     14210      6   79.71     13.285000
1998-06     18954      2   23.98     11.990000
1998-06     22802      4   62.51     15.627500
1998-06      5026      1   13.49     13.490000
1998-06     18952      3   36.97     12.323333
1998-06     22805      2   31.48     15.740000
1998-06       559      4   54.85     13.712500
1998-06     16040      3   38.47     12.823333
1998-06     17725      3   44.47     14.823333
1998-06      7677      2   37.50     18.750000
1998-06     19909      7   80.93     11.561429
1998-06      5958      1   12.58     12.580000
1998-06      5958      3   37.04     12.346667
1998-06     10793      1   11.49     11.490000
1998-06     23275      1   31.49     31.490000
1998-06     17314      2   28.98     14.490000
...           ...    ...     ...           ...
1997-01      5004      1   26.77     26.770000
1997-01      5003      2   18.54      9.270000
1997-01      5002      2    9.98      4.990000
1997-01      5000      2   29.73     14.865000
1997-01      5009      1   26.99     26.990000
1997-01      4999      5   71.25     14.250000
1997-01      4998      1   12.99     12.990000
1997-01      4997      2   29.58     14.790000
1997-01      4996      1   15.36     15.360000
1997-01      4996      1   14.96     14.960000
1997-01      4995      1   17.90     17.900000
1997-01      5008      3   41.91     13.970000
1997-01      5010      2   25.74     12.870000
1997-01      5024      1   27.99     27.990000
1997-01      5018      1   13.77     13.770000
1997-01      5023      1   15.99     15.990000
1997-01      5022      3   38.71     12.903333
1997-01      5021      2   26.14     13.070000
1997-01      5021      1   13.97     13.970000
1997-01      5020      2   39.98     19.990000
1997-01      5019      1   15.36     15.360000
1997-01      5017      1   15.36     15.360000
1997-01      5010      1   12.77     12.770000
1997-01      5016      3   43.30     14.433333
1997-01      5015      2   28.74     14.370000
1997-01      5014      1   14.79     14.790000
1997-01      5013      1   13.97     13.970000
1997-01      5012      8  134.55     16.818750
1997-01      5011      1   14.37     14.370000
1997-01         1      1   11.77     11.770000

[67663 rows x 4 columns]

In [498]:
close_buy = mdata.ix[mdata.index.unique()[:3]]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [499]:
close_buy = close_buy[close_buy['count'] > 1]

In [500]:
close_buy.shape

(12373, 4)

In [505]:
close_buy[close_buy['count'] > 2].shape[0] / close_buy.shape[0]

0.5634041865351976

In [507]:
close_buy[close_buy['count'] == 2].shape[0] / close_buy[close_buy['count'] > 2].shape[0]

0.7749246879931143

In [508]:
close_buy['count'].describe()

count    12373.000000
mean         3.481694
std          2.476549
min          2.000000
25%          2.000000
50%          3.000000
75%          4.000000
max         43.000000
Name: count, dtype: float64